
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录-赛尔IT运维服务平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="~/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css" media="all" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="divBackgroundImage">
    </div>
    <div class="loginbox">
        <div class="login">
            <h1>赛尔IT运维服务平台</h1>
            <div class="layui-form-item">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input id="txt_account" class="form-control" type="text" placeholder="登录用户">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input id="txt_password" class="form-control" type="password" placeholder="登录密码">
                </div>
            </div>
            <div class="layui-form-item form_code">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-check fa-fw"></i></span>
                    <input id="txt_code" class="form-control" style="width:160px" placeholder="验证码" lay-verify="required" type="text" maxlength="4">
                    <div class="code">
                        <img id="imgcode" src="/Home/GetVerifyCode" title="点击更换验证码" width="110" height="38" />
                    </div>
                </div>
            </div>
            <button id="login_button" class="btn layui-btn login_btn" type="submit"><i class="fa fa-sign-in fa-lg"></i> <span>开始登录</span></button>

            <div class="form-group" id="login_tips">
            </div>

        </div>
        <div class="login_footer">
            <p>
                测试账户：cernet,密码：cernet
            </p> 
            <p>
                版权所有：赛尔网络有限公司 京ICP备020072
            </p>
        </div>
    </div>
    <script src="~/Scripts/md5/jquery.md5.js"></script>
    <script type="text/javascript">
        var ua = navigator.userAgent;
        if (ua.indexOf("MSIE") > 0) {
            if (ua.indexOf("MSIE 7.0") > 0 || ua.indexOf("MSIE 8.0") > 0 || (ua.indexOf("MSIE 9.0") > 0 && !window.innerWidth) || ua.indexOf("MSIE 9.0") > 0) {
                $('#navigatorAgent').html("浏览器版本太低，请使用IE10以上、谷歌或者360浏览器极速模式");
            }
        }
        (function ($) {
            $.login = {
                formMessage: function (msg) {
                    $('#login_tips').find('.tips_msg').remove();
                    $('#login_tips').append('<div class="tips_msg"><i class="fa fa-warning"></i> ' + msg + '</div>');
                },
                loginClick: function () {
                    var $username = $("#txt_account");
                    var $password = $("#txt_password");
                    var $code = $("#txt_code");

                    if ($username.val() == "") {
                        $username.focus();
                        return false;
                    } else if ($password.val() == "") {
                        $password.focus();
                        return false;
                    } else if ($code.val() == "") {
                        $code.focus();
                        return false;
                    } else {
                        $("#login_button").attr('disabled', 'disabled').find('span').html("loading...");
                        $.ajax({
                            url: "/Home/CheckLogin",
                            data: { username: $.trim($username.val()), password: $.trim($password.val()), code: $.trim($code.val()) },
                            type: "post",
                            dataType: "json",
                            async: true,
                            cache: false,
                            success: function (result) {
                                if (result.state == "Success") {
                                    $("#login_button").find('span').html("登录成功，正在跳转...");
                                    window.setTimeout(function () {
                                        window.location.href = result.url;
                                    }, 100);
                                } else {
                                    $("#login_button").removeAttr('disabled').find('span').html("开始登录");
                                    $("#imgcode").trigger("click");
                                    $code.val('');
                                    $.login.formMessage(result.message);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                debugger;
                                $.login.formMessage(textStatus);
                            }
                        });
                    }
                },
                init: function () {
                    $("#imgcode").click(function () {
                        $("#imgcode").attr("src", "/Home/GetVerifyCode?time=" + Math.random());
                    });

                    $("#login_button").click(function () {
                        $.login.loginClick();
                    });
                    document.onkeydown = function (e) {
                        if (!e) e = window.event;
                        if ((e.keyCode || e.which) == 13) {
                            document.getElementById("login_button").focus();
                            document.getElementById("login_button").click();
                        }
                    }
                }
            };
            $(function () {
                $.login.init();
            });
        })(jQuery);
    </script>
</body>
</html>