<script>
    function fixed(str) {
        if (!str) str = '0.00';
        let ret = Math.round(parseFloat(str) * 100) / 100;
        let decimal = ret.toString().split('.');
        if (decimal.length === 1) {
            return ret.toString() + '.00'
        };
        if (decimal.length > 1) {
            if (decimal[1].length < 2) {
                return ret.toString() + '0'
            }
            return ret
        };
        return ret;
    }
    function checkdate(strInterval, dtinput) {
        var dtEnd = new Date();
        var dtStart = new Date(dtinput);
        switch (strInterval) {
            case 's': return parseInt((dtEnd - dtStart) / 1000);
            case 'n': return parseInt((dtEnd - dtStart) / 60000);
            case 'h': return parseInt((dtEnd - dtStart) / 3600000);
            case 'd': return parseInt((dtEnd - dtStart) / 86400000);
            case 'w': return parseInt((dtEnd - dtStart) / (86400000 * 7));
            case 'm': return (dtEnd.getMonth() + 1) + ((dtEnd.getFullYear() - dtStart.getFullYear()) * 12) - (dtStart.getMonth() + 1);
            case 'y': return dtEnd.getFullYear() - dtStart.getFullYear();
        }
    }
    function CompareDate(d1, d2) {
        return ((new Date(d1.replace(/-/g, "\/"))) > (new Date(d2.replace(/-/g, "\/"))));
    }
    function fcheckdate(dtinput) {
        var dtEnd = new Date();
        var dtStart = new Date(dtinput);
        if (dtStart.getTime() < dtEnd.getTime()) {
            var dt = dtEnd - dtStart;
            var d = Math.floor(dt / 86400000);
            var h = Math.floor(dt / 3600000);
            var m = Math.floor((dt - h * 3600000) / 60000);
            var s = (dt - h * 3600000 - m * 60000) / 1000;
            return "<span style='color:#ff0000;font-weight:900'>超" + d + "天" + h + "小时" + m + "分</span>";
        } else {
            var dt = dtStart - dtEnd;
            var d = Math.floor(dt / 86400000);
            var h = Math.floor(dt / 3600000);
            var m = Math.floor((dt - h * 3600000) / 60000);
            var s = (dt - h * 3600000 - m * 60000) / 1000;
            return "<span style='color:#04751d'>余" + d + "天" + h + "小时" + m + "分</span>";
        }
    }
    function fmoney(s, n) {
        n = n > 0 && n <= 20 ? n : 2;
        s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
        var l = s.split(".")[0].split("").reverse(),
        r = s.split(".")[1];
        t = "";
        for (i = 0; i < l.length; i++) {
            t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
        }
        return t.split("").reverse().join("") + "." + r;
    }
    function fDate(strTime) {
        var date = new Date(strTime);
        return date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
    }
</script>
<script id="IsEnableTpl" type="text/html">
    {{# if(d.IsEnable==false){ }}
    <span class="label label-default label-sm">禁用</span>
    {{# }else{ }}
    <span class="label label-success label-sm">启用</span>
    {{# } }}
</script>
<script id="PTypeTpl" type="text/html">
    {{# if(d.Type== "menu" ){ }}
    <span class="label label-primary label-sm">菜单</span>
    {{# }else if(d.Type=="button"){ }}
    <span class="label label-danger label-sm">按钮</span>
    {{# }else{ }}
    <span class="label label-default label-sm">其他</span>
    {{# } }}
</script>
<script id="PriorityTpl" type="text/html">
    {{# if(d.PriorityLevel== "high" ){ }}
    <span class="label label-danger label-sm">高</span>
    {{# }else if(d.PriorityLevel=="medium"){ }}
    <span class="label label-primary label-sm">中</span>
    {{# }else{ }}
    <span class="label label-default label-sm">低</span>
    {{# } }}
</script>
<script id="UrgencyTpl" type="text/html">
    {{# if(d.UrgencyLevel=="危急" ){ }}
    <span class="label label-danger label-sm">{{ d.UrgencyLevel }}</span>
    {{# }else if(d.UrgencyLevel=="高"){ }}
    <span class="label label-primary label-sm">{{ d.UrgencyLevel }}</span>
    {{# }else if(d.UrgencyLevel=="中"){ }}
    <span class="label label-warning label-sm">{{ d.UrgencyLevel }}</span>
    {{# }else{ }}
    <span class="label label-default label-sm">{{ d.UrgencyLevel }}</span>
    {{# } }}
</script>
<script id="EffectTpl" type="text/html">
    {{# if(d.EffectLevel== "服务" ){ }}
    <span class="label label-danger label-sm">{{ d.EffectLevel }}</span>
    {{# }else if(d.EffectLevel=="部门"){ }}
    <span class="label label-primary label-sm">{{ d.EffectLevel }}</span>
    {{# }else{ }}
    <span class="label label-default label-sm">{{ d.EffectLevel }}</span>
    {{# } }}
</script>
<script id="IconTpl" type="text/html">
    <i class="{{d.Icon }}"></i>
</script>
<script id="ExpirationDateTpl" type="text/html">
    {{  d.ExpirationDate  }}
</script>
<script id="ExpensesTpl" type="text/html">
    ￥{{fmoney(d.Expenses,0)}}
</script>
<script id="FinishTimeTpl" type="text/html">
    {{# if(d.SlaTitle.indexOf("超")>-1){ }}
    <span class="label label-danger label-sm">{{  d.SlaTitle }}</span>
    {{# }else{ }}
    <span class="label label-default label-sm">{{  d.SlaTitle  }}</span>
    {{# } }}
</script>
<script id="FinishTime1Tpl" type="text/html">
    {{fcheckdate(d.FinishTime)}}
</script>
<script id="CreateDateTpl" type="text/html">
    {{fDate(d.CreateTime)}}
</script>
<script id="LogLevelTpl" type="text/html">
    {{# if(d.LogLevel=="ERROR"){ }}
    <span class="label label-danger label-sm">{{  d.LogLevel  }}</span>
    {{# }else{ }}
    {{  d.LogLevel  }}
    {{# } }}
</script>
<script id="OrdersTpl" type="text/html">
    <a href="/Itsm/Orders/Detail/{{d.OrderId}}" class="layui-table-link">{{ d.OrderId }}</a>
</script>
<script id="FaqsTpl" type="text/html">
    <a href="#" class="layui-table-link" onclick="btn_open('/Itsm/FAQs/Detail/{{d.Id}}')">{{ d.Name }}</a>
</script>
<script id="StatusTpl" type="text/html">
    {{# if(d.StatusName== "已登记" ){ }}
    <span class="label label-info label-sm">{{ d.StatusName }}</span>
    {{# }else if(d.StatusName=="已分派"){ }}
    <span class="label label-success label-sm">{{ d.StatusName }}</span>
    {{# }else if(d.StatusName=="已取消"){ }}
    <span class="label label-default label-sm">{{ d.StatusName }}</span>
    {{# }else if(d.StatusName=="已取消"){ }}
    <span class="label label-default label-sm">{{ d.StatusName }}</span>
    {{# }else if(d.StatusName=="已解决"){ }}
    <span class="label label-danger label-sm">{{ d.StatusName }}</span>
    {{# }else{ }}
    <span class="label label-primary  label-sm">{{ d.StatusName }}</span>
    {{# } }}
</script>