@{
    Layout = "~/Views/Shared/_Index.cshtml";
}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>无标题文档</title>

    <link rel="stylesheet" type="text/css" href="../../Content/WeeklyReports/styles/simditor.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/WeeklyReports/styles/bootstrap.css" />
  
    <!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->

    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/module.min.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/hotkeys.min.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/uploader.min.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/simditor.js"></script>
    <!--<script type="text/javascript" src="scripts/simditor.min.js"></script>-->
    <!--<script src="http://www.jq22.com/jquery/1.6.4/jquery.min.js"></script>-->
    <script type="text/javascript" src="../../Content/WeeklyReports/scripts/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/jquery.reveal.js"></script>
    <script type="text/javascript" src="../../Content/WeeklyReports/InputPlaceholder.js"></script>
    
    <style type="text/css">
        .reveal-modal-bg {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 100;
            display: none;
            top: 0;
            left: 0;
            background: rgba(00, 00, 00, 0.8);
        }

        .reveal-modal {
            visibility: hidden;
             top: 80px;
            left: 50%;
            margin-left:-20%;
            width: 520px;
            position: absolute;
            z-index: 101;
            padding: 30px 40px 34px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
            -box-shadow: 0 0 10px rgba(0,0,0,.4);
            background-color: #FFF;
        }

            .reveal-modal.small {
                width: 200px;
                margin-left: -140px;
            }

            .reveal-modal.medium {
                width: 400px;
                margin-left: -240px;
            }

            .reveal-modal.large {
                width: 600px;
                margin-left: -340px;
            }

            .reveal-modal.xlarge {
                width: 800px;
                margin-left: -440px;
            }

            .reveal-modal .close-reveal-modal {
                font-size: 22px;
                line-height: 0.5;
                position: absolute;
                top: 8px;
                right: 11px;
                color: #333;
                text-shadow: 0 -1px 1px rbga(0,0,0,.6);
                font-weight: bold;
                cursor: pointer;
            }

        body {
            background-color: #F2F2F2;
        }
         input{
               
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    </style>
    <!--[if lt IE 9]><style>.reveal-modal-bg{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);}</style><![endif]-->

    <script>
        var inputId;
        var id = 0;
        var UpdateFinalId = 0;
        var selectList;
        var workList = {
            "已完成": "A",
            "进展中": "B",
            "未开始": "C",
            "延期已完成": "D",
        };
      
        var dataTableList = {
            data: [
                {
                    "ProjectName": "终端运维",
                    "Content": "内容测试111",
                    "ChargeMan": "张三",
                    "Remark": "备注111",
                    "Type": "进展中",

                },
                {
                    "ProjectName": "机房巡检",
                    "Content": "内容测试222",
                    "ChargeMan": "李四",
                    "Remark": "备注222",
                    "Type": "已完成",
                },
                {
                    "ProjectName": "技术支持",
                    "Content": "内容测试333",
                    "ChargeMan": "王五",
                    "Remark": "备注333",
                    "Type": "延期已完成",
                }
            ]
        }
        $(document).ready(function () {
            getSelectList();
         
        });
        function getSelectList() {
            $.ajax({
                type: "POST",
                url: "/WeeklyReports/WeeklyReports/GetSelectList",
                datatype: 'json',
                data: {

                },
                success: function (msg) {
                    var ev = eval('(' + msg + ')');
                    selectList = ev.selectList;
                    return;
                }

            });
        }
        function RegisterLayui()
        {
            layui.use('laydate', function () {
                var laydate = layui.laydate;

                //执行一个laydate实例
                laydate.render({
                    elem: '.layui-input' //指定元素
                });
            });
        }
        function openDataEdit(e) {
            inputId = $(e);
            if (inputId.val().length == 0) {
                $(".simditor-body").html("<p>&nbsp;</p>");           //有个bug，如果是空的弹出来输入法会有点问题，加一个判定
            }
            else {
                $(".simditor-body").html(inputId.val());
            }

            $('#click1').click();
            $(".simditor-body").focus();
        }
        function openDataEditView(e) {
          
            var inputView = $(e);
            var nameOld = inputView.attr("id");
            //ListTest[0].Content
            var endName = nameOld.substr(nameOld.indexOf(".") + 1, nameOld.indexOf("View") - nameOld.indexOf(".") - 1);
            var firName = nameOld.substr(0, nameOld.indexOf("."));
            var finalName = firName + "." + endName;         //获取实际取值富文本编辑器的ID

            var trParent = inputView.parent().parent();      //获取tr
            $(trParent).children().each(function (j) {
                try {
                    var inputItemTd = $(this);     //每一行tr里的td
                    $(inputItemTd).children().each(function (k) {
                        var inputItem = $(this);     //这是每一个td里的input框
                        var name = inputItem.attr("name");
                        if (name != undefined) {

                            if (name == finalName)         //找到content结点
                            {
                                inputId = inputItem;
                                if (inputId.val().length == 0) {
                                    $(".simditor-body").html("<p>&nbsp;</p>");//有个bug，如果是空的弹出来输入法会有点问题，拼音第一个字母会漏出来加一个判定
                                    ChangePlaceholder(endName);
                                }
                                else {
                                    $(".simditor-body").html(inputId.val());
                                }

                                $('#click1').click();
                                $(".simditor-body").focus();
                               
                                FixDiv();
                                return;
                            }

                        }
                    });
                } catch (e) {

                }

            })

        }
        function ChangePlaceholder(inputName) {                          //更改texrarea的特殊div形态的placeholder     
            var textValue = InputPlaceholderList[inputName];
            $(".simditor-placeholder").attr("style", "top: 81px; display: block;");
         
            $(".simditor-placeholder").html(textValue);
        }
        function saveData() {
            $('.reveal-modal-bg').click();
            inputId.val($("#editor").val());

            var trParent = inputId.parent().parent();      //获取tr
            $(trParent).children().each(function (j) {
                try {
                    var inputItemTd = $(this);     //每一行tr里的td
                    $(inputItemTd).children().each(function (k) {
                        var inputItem = $(this);     //这是每一个td里的input框
                        var name = inputItem.attr("name");
                        if (name != undefined) {
                            if (name == (inputId.attr("name") + "View"))         //找到content结点
                            {
                                var description = $("#editor").val();                    //去除HTML标签 显示数据预览
                                description = description.replace(/(\n)/g, "");
                                description = description.replace(/(\t)/g, "");
                                description = description.replace(/(\r)/g, "");
                                description = description.replace(/<\/?[^>]*>/g, "");
                                description = description.replace(/\s*/g, "");
                                description = description.replace(/&nbsp;/ig, "");
                                inputItem.val(description);
                                return;
                            }
                        }
                    });
                } catch (e) {

                }

            })

        //    UpdateNumber();
        }
        function saveDataOld() {
            $('.reveal-modal-bg').click();
            inputId.val($("#editor").val());
            UpdateNumber();
        }
        //老方法只能调整一个 新的可以调整所有的
        function UpdateNumberOldOld()                  //这个方法是将所有输入框的name id按照数字顺序重新命名 防止有ListTest[0].Name，ListTest[3].Name这种错乱的，方便MVC直接赋值
        {
            $('#TableData tr').each(function (i) {
                var dataItemTr = $(this);      //找到table里的每一行tr
                $(dataItemTr).children().each(function (j) {
                    try {
                        var inputItemTd = $(this);     //每一行tr里的td
                        $(inputItemTd).children().each(function (k) {
                            var inputItem = $(this);     //这是每一个td里的input框
                            var name = inputItem.attr("name");
                            if (name != undefined) {
                                //alert(name);
                                if (name.indexOf("No") > 0)          //这个是检查序号的，排序
                                {
                                    inputItem.val((i + 1));
                                }
                                var name1 = "111";
                                var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                name = name.replace(nameNumberTemp, i);                      //重新修改所有输入框的ID NAME的数字顺序
                                inputItem.attr("name", name);        //重新命名Name
                                inputItem.attr("id", name);          //重新命名ID
                            }
                        });
                    } catch (e) {

                    }

                })
            })
        }
        function UpdateNumberOld()                  //这个方法是将所有输入框的name id按照数字顺序重新命名 防止有ListTest[0].Name，ListTest[3].Name这种错乱的，方便MVC直接赋值
        {
            UpdateFinalId = 0;
            $('#TableData tr').each(function (i) {
                var dataItemTr = $(this);      //找到table里的每一行tr
                $(dataItemTr).children().each(function (j) {
                    try {
                        var inputItemTd = $(this);     //每一行tr里的td
                        $(inputItemTd).children().each(function (k) {
                            var inputItem = $(this);     //这是每一个td里的input框
                            var name = inputItem.attr("name");
                            if (name != undefined) {
                                //alert(name);
                                if (name.indexOf("ContentNumber") > 0)          //这个是检查序号的，排序
                                {
                                    inputItem.val((i + 1));
                                }
                                var name1 = "111";
                                var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                name = name.replace(nameNumberTemp, UpdateFinalId);                      //重新修改所有输入框的ID NAME的数字顺序
                                inputItem.attr("name", name);        //重新命名Name
                                inputItem.attr("id", name);          //重新命名ID


                            }
                        });
                    } catch (e) {

                    }

                })
                UpdateFinalId++;
            })
            $('#TableDataNext tr').each(function (i) {
                var dataItemTr = $(this);      //找到table里的每一行tr
                $(dataItemTr).children().each(function (j) {
                    try {
                        var inputItemTd = $(this);     //每一行tr里的td
                        $(inputItemTd).children().each(function (k) {
                            var inputItem = $(this);     //这是每一个td里的input框
                            var name = inputItem.attr("name");
                            if (name != undefined) {
                                //alert(name);
                                if (name.indexOf("ContentNumber") > 0)          //这个是检查序号的，排序
                                {
                                    inputItem.val((i + 1));
                                }
                                var name1 = "111";
                                var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                name = name.replace(nameNumberTemp, UpdateFinalId);                      //重新修改所有输入框的ID NAME的数字顺序
                                inputItem.attr("name", name);        //重新命名Name
                                inputItem.attr("id", name);          //重新命名ID


                            }
                        });

                    } catch (e) {

                    }

                })
                UpdateFinalId++;
            })
            $('#TableDataProblem tr').each(function (i) {
                var dataItemTr = $(this);      //找到table里的每一行tr
                $(dataItemTr).children().each(function (j) {
                    try {
                        var inputItemTd = $(this);     //每一行tr里的td
                        $(inputItemTd).children().each(function (k) {
                            var inputItem = $(this);     //这是每一个td里的input框
                            var name = inputItem.attr("name");
                            if (name != undefined) {
                                //alert(name);
                                if (name.indexOf("ContentNumber") > 0)          //这个是检查序号的，排序
                                {
                                    inputItem.val((i + 1));
                                }
                                var name1 = "111";
                                var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                name = name.replace(nameNumberTemp, UpdateFinalId);                      //重新修改所有输入框的ID NAME的数字顺序
                                inputItem.attr("name", name);        //重新命名Name
                                inputItem.attr("id", name);          //重新命名ID


                            }
                        });

                    } catch (e) {

                    }

                })
                UpdateFinalId++;
            })
        }
        function UpdateNumber()                  //这个方法是将所有输入框的name id按照数字顺序重新命名 防止有ListTest[0].Name，ListTest[3].Name这种错乱的，方便MVC直接赋值
        {
            UpdateFinalId = 0;
            $('#TableData').children().each(function (i) {          //改了 这是总DIV下的每一个数据行
                $(this).children().each(function (z) {              //改了 这是每一个数据行里的每一个子元素 包括label和div
                    var dataItemTr = $(this);      //找到table里的每一行tr 改了 这是检验每一个子元素div里包含的input
                    $(dataItemTr).children().each(function (j) {
                        try {
                            var inputItemTd = $(this);     //每一行tr里的td
                            $(inputItemTd).children().each(function (k) {
                                var inputItem = $(this);     //这是每一个td里的input框
                                var name = inputItem.attr("name");
                                if (name != undefined) {
                                    //alert(name);
                                    if (name.indexOf("ContentNumber") > 0)          //这个是检查序号的，排序
                                    {
                                        inputItem.val((i + 1));
                                    }
                                    var name1 = "111";
                                    var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                    name = name.replace(nameNumberTemp, UpdateFinalId);                      //重新修改所有输入框的ID NAME的数字顺序
                                    inputItem.attr("name", name);        //重新命名Name
                                    inputItem.attr("id", name);          //重新命名ID


                                }
                            });
                        } catch (e) {

                        }

                    })
                });
              
                UpdateFinalId++;
            })
            $('#TableDataNext').children().each(function (i) {          //改了 这是总DIV下的每一个数据行
                $(this).children().each(function (z) {              //改了 这是每一个数据行里的每一个子元素 包括label和div
                    var dataItemTr = $(this);      //找到table里的每一行tr 改了 这是检验每一个子元素div里包含的input
                    $(dataItemTr).children().each(function (j) {
                        try {
                            var inputItemTd = $(this);     //每一行tr里的td
                            $(inputItemTd).children().each(function (k) {
                                var inputItem = $(this);     //这是每一个td里的input框
                                var name = inputItem.attr("name");
                                if (name != undefined) {
                                    //alert(name);
                                    if (name.indexOf("ContentNumber") > 0)          //这个是检查序号的，排序
                                    {
                                        inputItem.val((i + 1));
                                    }
                                    var name1 = "111";
                                    var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                    name = name.replace(nameNumberTemp, UpdateFinalId);                      //重新修改所有输入框的ID NAME的数字顺序
                                    inputItem.attr("name", name);        //重新命名Name
                                    inputItem.attr("id", name);          //重新命名ID


                                }
                            });
                        } catch (e) {

                        }

                    })
                });

                UpdateFinalId++;
            })
            $('#TableDataProblem').children().each(function (i) {          //改了 这是总DIV下的每一个数据行
                $(this).children().each(function (z) {              //改了 这是每一个数据行里的每一个子元素 包括label和div
                    var dataItemTr = $(this);      //找到table里的每一行tr 改了 这是检验每一个子元素div里包含的input
                    $(dataItemTr).children().each(function (j) {
                        try {
                            var inputItemTd = $(this);     //每一行tr里的td
                            $(inputItemTd).children().each(function (k) {
                                var inputItem = $(this);     //这是每一个td里的input框
                                var name = inputItem.attr("name");
                                if (name != undefined) {
                                    //alert(name);
                                    if (name.indexOf("ContentNumber") > 0)          //这个是检查序号的，排序
                                    {
                                        inputItem.val((i + 1));
                                    }
                                    var name1 = "111";
                                    var nameNumberTemp = name.substr(name.indexOf("[") + 1, name.indexOf("]") - name.indexOf("[") - 1);  //取出来的错乱数字
                                    name = name.replace(nameNumberTemp, UpdateFinalId);                      //重新修改所有输入框的ID NAME的数字顺序
                                    inputItem.attr("name", name);        //重新命名Name
                                    inputItem.attr("id", name);          //重新命名ID


                                }
                            });
                        } catch (e) {

                        }

                    })
                });

                UpdateFinalId++;
            })
        
        }
        function checkSelect(item)                   //每个选择项目只能用一次，多了就要发出警告
        {
            var SelectValue = $(item);
            var count = 0;
            $('#TableData select').each(function (i) {
                var selectTemp = $(this);
                if (selectTemp.val() == SelectValue.val()) {
                    count++;
                    if (count >= 2) {
                        alert("不可添加重复项目");
                        SelectValue.val("");
                        count = 0;
                        return false;
                    }
                }


            });
        }
     
        function addThisWeek()
        {
            var FormData = $('#TableData');
            var html = "";
            html += " <div class=\"layui-form-item\" id =" + id + " >";
            html+="      <div class=\"layui-inline\">";
            html+="        <label class=\"layui-label\">序号：&#12288;&#12288;</label>";
            html+="       <div class=\"layui-input-inline\">";                       
            html += "<input  class=\"layui-input\" style=\"border:none;\" type=\"text\" name=\"ListTest[" + id + "].ContentNumber\" id=\"ListTest[" + id + "].ContentNumber\" value=" + (id + 1) + " readonly />"
            html += "       </div>";
            html+="   </div>";

            html+="   <div class=\"layui-inline\">";
            html+="      <label class=\"layui-label\">工作项目：</label>";
            html+="      <div class=\"layui-input-inline\">";
            html += "<select  class=\"layui-select\" name=\"ListTest[" + id + "].ProjectName\" id=\"ListTest[" + id + "].ProjectName\" required=\"required\" onchange=\"checkSelect(this);\">";
            html += "<option disabled selected value>--请选择--</option>";
            for (var i in selectList) {
                html += "<option value=" + i + ">" + selectList[i] + "</option>";
            }
            html += "</select>";
            html+="     </div>";
            html+="  </div>";
            html+="   <div class=\"layui-inline\">";
            html+="     <label class=\"layui-label\">工作内容：</label>";
            html+="     <div class=\"layui-input-inline\">";
            html += " <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].Content\"   id=\"ListTest[" + id + "].Content\"  onclick=\"openDataEdit(this);\" />";
            html += " <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].ContentView\" id=\"ListTest[" + id + "].ContentView\"  onclick=\"openDataEditView(this);\" />";

            html+="      </div>";
            html+=" </div>";
            html+=" <div class=\"layui-inline\">";
            html+="    <label class=\"layui-label\">负责人：&#12288; </label>";
            html+="    <div class=\"layui-input-inline\">";
            html += "   <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].LiablePerson\" required=\"required\" id=\"ListTest[" + id + "].LiablePerson\"  />";

            html+="  </div>";
            html+="  </div>";
            html+="<div class=\"layui-inline\">";
            html+="    <label class=\"layui-label\">开始日期：</label>";
            html+="   <div class=\"layui-input-inline\">";
          
            html += "   <input type=\"date\"  class=\"layui-input\" name=\"ListTest[" + id + "].StartTime\"  required=\"required\" id=\"ListTest[" + id + "].StartTime\"  />";

            html+="    </div>";
            html+="  </div>";
            html+="   <div class=\"layui-inline\">";
            html+="       <label class=\"layui-label\">结束日期：</label>";
            html+="  <div class=\"layui-input-inline\">";
         
            html += "   <input type=\"date\"  class=\"layui-input\" name=\"ListTest[" + id + "].EndTime\"  required=\"required\" id=\"ListTest[" + id + "].EndTime\"  />";

            html+="    </div>";
            html+=" </div>";
            html+="  <div class=\"layui-inline\">";
            html+="        <label class=\"layui-label\">完成情况：</label>";
            html+="       <div class=\"layui-input-inline\">";
            html += "   <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].CompleteStatus\" id=\"ListTest[" + id + "].CompleteStatus\" onclick=\"openDataEdit(this);\"  />";

            html += "   <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].CompleteStatusView\" id=\"ListTest[" + id + "].CompleteStatusView\" onclick=\"openDataEditView(this);\"  />";

            html+="       </div>";
            html+="  </div>";
            html+="   <div class=\"layui-inline\">";
            html += "      <div class=\"layui-input-block\">";
            html += "   <input type=\"hidden\" class=\"form-control\" name=\"ListTest[" + id + "].ContentType\" id=\"ListTest[" + id + "].ContentType\" value=\"1\"   />";
            html += "        <button onclick=\"DeleteDateItem('" + id + "')\" class=\"layui-btn layui-btn-danger\" lay-submit lay-filter=\"add\"><i class=\"layui-icon\">&#xe640;</i>删除</button>";
            html+="    </div>";
            html+=" </div>";
            html += " </div>";
            id++;
            $(FormData).append(html);
            UpdateNumber();
        }
   
        function addNextWeek()
        {
            var FormData = $('#TableDataNext');
            var html = "";
            html += " <div class=\"layui-form-item\" id =" + id + " >";
            html += "      <div class=\"layui-inline\">";
            html += "        <label class=\"layui-label\">序号：&#12288;&#12288;</label>";
            html += "       <div class=\"layui-input-inline\">";
            html += "<input  class=\"layui-input\" style=\"border:none;\" type=\"text\" name=\"ListTest[" + id + "].ContentNumber\" id=\"ListTest[" + id + "].ContentNumber\" value=" + (id + 1) + " readonly />"
            html += "       </div>";
            html += "   </div>";

            html += "   <div class=\"layui-inline\">";
            html += "      <label class=\"layui-label\">工作项目：</label>";
            html += "      <div class=\"layui-input-inline\">";
            html += "<select  class=\"layui-select\" name=\"ListTest[" + id + "].ProjectName\" id=\"ListTest[" + id + "].ProjectName\" required=\"required\" onchange=\"checkSelect(this);\">";
            html += "<option disabled selected value>--请选择--</option>";
            for (var i in selectList) {
                html += "<option value=" + i + ">" + selectList[i] + "</option>";
            }
            html += "</select>";
            html += "     </div>";
            html += "  </div>";
            html += "   <div class=\"layui-inline\">";
            html += "     <label class=\"layui-label\">工作内容：</label>";
            html += "     <div class=\"layui-input-inline\">";
            html += " <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].Content\"   id=\"ListTest[" + id + "].Content\"  onclick=\"openDataEdit(this);\" />";
            html += " <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].ContentView\" id=\"ListTest[" + id + "].ContentView\"  onclick=\"openDataEditView(this);\" />";

            html += "      </div>";
            html += " </div>";
            html += " <div class=\"layui-inline\">";
            html += "    <label class=\"layui-label\">负责人：&#12288; </label>";
            html += "    <div class=\"layui-input-inline\">";
            html += "   <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].LiablePerson\" required=\"required\" id=\"ListTest[" + id + "].LiablePerson\"  />";

            html += "  </div>";
            html += "  </div>";
            html += "<div class=\"layui-inline\">";
            html += "    <label class=\"layui-label\">开始日期：</label>";
            html += "   <div class=\"layui-input-inline\">";

            html += "   <input type=\"date\"  class=\"layui-input\" name=\"ListTest[" + id + "].StartTime\"  required=\"required\" id=\"ListTest[" + id + "].StartTime\"  />";

            html += "    </div>";
            html += "  </div>";
            html += "   <div class=\"layui-inline\">";
            html += "       <label class=\"layui-label\">结束日期：</label>";
            html += "  <div class=\"layui-input-inline\">";

            html += "   <input type=\"date\"  class=\"layui-input\" name=\"ListTest[" + id + "].EndTime\"  required=\"required\" id=\"ListTest[" + id + "].EndTime\"  />";

            html += "    </div>";
            html += " </div>";
            html += "  <div class=\"layui-inline\">";
            html += "        <label class=\"layui-label\">备注：&#12288;&#12288;</label>";
            html += "       <div class=\"layui-input-inline\">";
            html += "   <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].Remark\" id=\"ListTest[" + id + "].Remark\" onclick=\"openDataEdit(this);\"  />";

            html += "   <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].RemarkView\" id=\"ListTest[" + id + "].RemarkView\" onclick=\"openDataEditView(this);\"  />";

            html += "       </div>";
            html += "  </div>";
            html += "   <div class=\"layui-inline\">";
            html += "      <div class=\"layui-input-block\">";
            html += "   <input type=\"hidden\" class=\"form-control\" name=\"ListTest[" + id + "].ContentType\" id=\"ListTest[" + id + "].ContentType\" value=\"2\"   />";
            html += "        <button onclick=\"DeleteDateItem('" + id + "')\" class=\"layui-btn layui-btn-danger\" lay-submit lay-filter=\"add\"><i class=\"layui-icon\">&#xe640;</i>删除</button>";
            html += "    </div>";
            html += " </div>";
            html += " </div>";
            id++;
            $(FormData).append(html);
            UpdateNumber();
        }
     
        function addProblem()
        {
            var FormData = $('#TableDataProblem');
            var html = "";
            html += " <div class=\"layui-form-item\" id =" + id + " >";
            html += "      <div class=\"layui-inline\">";
            html += "        <label class=\"layui-label\">序号：&#12288;&#12288;</label>";
            html += "       <div class=\"layui-input-inline\">";
            html += "<input  class=\"layui-input\" style=\"border:none;\" type=\"text\" name=\"ListTest[" + id + "].ContentNumber\" id=\"ListTest[" + id + "].ContentNumber\" value=" + (id + 1) + " readonly />"
            html += "       </div>";
            html += "   </div>";

            html += "   <div class=\"layui-inline\">";
            html += "      <label class=\"layui-label\">问题：&#12288;&#12288;</label>";
            html += "      <div class=\"layui-input-inline\">";
            html += " <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].Problem\" id=\"ListTest[" + id + "].Problem\"  onclick=\"openDataEdit(this);\" />";

            html += " <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].ProblemView\" id=\"ListTest[" + id + "].ProblemView\"  onclick=\"openDataEditView(this);\" />";
            html += "     </div>";
            html += "  </div>";
            html += "   <div class=\"layui-inline\">";
            html += "     <label class=\"layui-label\">原因：&#12288;&#12288;</label>";
            html += "     <div class=\"layui-input-inline\">";
            html += "   <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].Result\" id=\"ListTest[" + id + "].Result\" onclick=\"openDataEdit(this);\"  />";

            html += "   <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].ResultView\" id=\"ListTest[" + id + "].ResultView\" onclick=\"openDataEditView(this);\"  />";

            html += "      </div>";
            html += " </div>";
            html += " <div class=\"layui-inline\">";
            html += "    <label class=\"layui-label\">解决方案： </label>";
            html += "    <div class=\"layui-input-inline\">";
            html += "   <input type=\"hidden\"  class=\"layui-input\" name=\"ListTest[" + id + "].Solution\" id=\"ListTest[" + id + "].Solution\" onclick=\"openDataEdit(this);\"  />";

            html += "   <input type=\"text\"  class=\"layui-input\" name=\"ListTest[" + id + "].SolutionView\" id=\"ListTest[" + id + "].SolutionView\" onclick=\"openDataEditView(this);\"  />";

            html += "  </div>";
            html += "  </div>";
       
            html += "   <div class=\"layui-inline\">";
            html += "      <div class=\"layui-input-block\">";
            html += "   <input type=\"hidden\" class=\"layui-input\" name=\"ListTest[" + id + "].ContentType\" id=\"ListTest[" + id + "].ContentType\" value=\"3\"   />";
            html += "        <button onclick=\"DeleteDateItem('" + id + "')\" class=\"layui-btn layui-btn-danger\" lay-submit lay-filter=\"add\"><i class=\"layui-icon\">&#xe640;</i>删除</button>";
            html += "    </div>";
            html += " </div>";
            html += " </div>";
            id++;
            $(FormData).append(html);
            UpdateNumber();
        }
        function DeleteDateItem(idNumber) {
            $("#" + idNumber).remove();
            UpdateNumber();
        }
        function getTableData() {
            var FormData = $('#getTableData');
            $(FormData).html("");
            var id = 0;
            for (var z = 0; z < dataTableList.data.length; z++) {
                var item = dataTableList.data[z];
                var html = "    <tr id =l" + id + ">";
                html += "<td  class=\"col-xs-1\">";
                html += "<input type=\"text\" class=\"form-control\" name=\"ListTest[" + id + "].No\" id=\"ListTest[" + id + "].No\" value=l" + (id + 1) + " readonly />"
                html += " </td>";
                html += " <td>";
                html += "<select class=\"form-control\" name=\"ListTest[" + id + "].ProjectName\" id=\"ListTest[" + id + "].ProjectName\"  disabled=\"true\" onchange=\"checkSelect(this);\">";
                html += "<option disabled selected value>--请选择--</option>";
                for (var i in selectList) {
                    if (item.ProjectName == i) {
                        html += "<option value=" + i + "  selected=\"selected\" >" + selectList[i] + "</option>";
                    }
                    else {
                        html += "<option value=" + i + ">" + selectList[i] + "</option>";
                    }

                }
                html += "</select></td>";



                html += "<td>";
                html += " <input type=\"text\" class=\"form-control\" name=\"ListTest[" + id + "].Content\" id=\"ListTest[" + id + "].Content\" value='" + item.Content + "'  onclick=\"openDataEdit(this);\" />";
                html += " </td>";
                html += "  <td>";
                html += "   <input type=\"text\" class=\"form-control\" name=\"ListTest[" + id + "].ChargeMan\" id=\"ListTest[" + id + "].ChargeMan\" value='" + item.ChargeMan + "' />";
                html += " </td>";
                html += "  <td>";
                html += "   <input type=\"date\" class=\"form-control\" name=\"ListTest[" + id + "].Time\" id=\"ListTest[" + id + "].Time\"  />";
                html += " </td>";
                html += "  <td>";
                html += "   <input type=\"date\" class=\"form-control\" name=\"ListTest[" + id + "].EndTime\" id=\"ListTest[" + id + "].EndTime\"  />";
                html += " </td>";
                html += "  <td>";
                html += "   <input type=\"text\" class=\"form-control\" name=\"ListTest[" + id + "].Remark\" id=\"ListTest[" + id + "].Remark\" value='" + item.Remark + "' onclick=\"openDataEdit(this);\"  />";
                html += " </td>";
                html += " <td>";
                html += "<select class=\"form-control\" name=\"ListTest[" + id + "].Type\" id=\"ListTest[" + id + "].Type\" value='" + item.Type + "'>";
                for (var i in workList) {
                    if (item.Type == i) {
                        html += "<option value=" + workList[i] + " selected=\"selected\">" + i + "</option>";
                    }
                    else {
                        html += "<option value=" + workList[i] + ">" + i + "</option>";
                    }

                }
                html += "</select></td>";
                html += "    <td>";
                html += "  <button type=\"button\" onclick=\"DeleteDateItem('l" + id + "')\" class=\"btn btn-default\">删除行</button>";
                html += "</td>";

                html += "</tr>";
                //var html = "<div class=\"dataItem\" id=\"" + id + "\">";
                //html += "<input type=\"text\" name=\"ListTest[" + id + "].Name\" id=\"ListTest[" + id + "].Name\" onclick=\"openDataEdit(this);\" /><input type=\"text\" name=\"ListTest[" + id + "].Age\" id=\"ListTest[" + id + "].Age\" onclick=\"openDataEdit(this);\" /> ";
                //html += "<button type=\"button\" onclick=\"DeleteDateItem(" + id + ")\">删除行</button></div>";
                id++;
                $(FormData).append(html);
            }
        }
        function SubmitUpdate() {
            UpdateNumber();
            return true;
        }
        function FixDiv() {                                         //文本框有个bug，会导致打开的时候显示错乱，用这个修正一下
            var di = $(".simditor-wrapper.toolbar-floating");
            di.attr("class", "simditor-wrapper");
            di.attr("style", "");
        }
    </script>

</head>
<body>
    <div class="col-md-12">
@using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return SubmitUpdate();" }))
{
        <div class="content" style="background-color: #fafffb;">
            <div id="reportData">
                <div class="layui-form-item">
                    <input type="hidden" name="ProjectName" value="@ViewBag.ProjectName" />
                    <h1 class="container-fluid" style="text-align:center;">个人运维工作周报</h1>

                    <div class="layui-inline">
                        <label class="layui-label">项目名称：</label>
                        <div class="layui-input-inline">
                            <label class="layui-label">@ViewBag.ProjectName</label>
                            
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-label">汇报日期：</label>
                        <div class="layui-input-inline">
                            <select name="ReportWeekDate" class="layui-select">
                                <option value="1" selected=selected>本周</option>
                                <option value="2">上周</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-label">汇报人：</label>
                        <div class="layui-input-inline">
                            <label class="layui-label">@ViewBag.Author</label>
                          
                        </div>
                    </div>
                    @*<div class="layui-inline">
                        <label class="layui-label">紧急度：</label>
                        <div class="layui-input-inline">
                           
                            <select name="Level" class="layui-select">
                                <option value="1" selected=selected>低</option>
                                <option value="2">中</option>
                                <option value="3">高</option>
                            </select>
                        </div>
                    </div>*@
                </div>
               
            
                <hr />
            </div>
           
                <h4 class="container-fluid" style="text-align:center;">本周工作任务及执行情况</h4>
            <div id="TableData">
              
            </div>
            <button type="button" id="addForm" class="layui-btn" onclick="addThisWeek();"><i class="layui-icon">&#xe608;</i> 增加条目</button>

            <hr />
                <h4 class="container-fluid" style="text-align:center;">下周工作计划</h4>
            <div id="TableDataNext">
                
            </div>
            <button type="button" id="addForm" class="layui-btn" onclick="addNextWeek();"><i class="layui-icon">&#xe608;</i> 增加条目</button>
            <hr />
                <h4 class="container-fluid" style="text-align:center;">发现问题、建议及解决计划</h4>
            <div id="TableDataProblem">
          
            </div>
            <button type="button" id="addForm" class="layui-btn" onclick="addProblem();"><i class="layui-icon">&#xe608;</i> 增加条目</button>




            <hr />
              
             
                    <a href="#" class="big-link" id="click1" data-reveal-id="myModal" hidden="hidden" data-animation="fade">jquery点我弹出</a>
                    <!--<input type="text" id="text1" onclick="openDataEdit(this);" />
            <input type="text" id="text2" onclick="openDataEdit(this);" />-->
        
                    <div id="myModal" class="reveal-modal">

                        <textarea id="editor" autofocus placeholder="请输入内容"></textarea>
                        <div align="center">
                            <button type="button" class="layui-btn layui-btn-radius layui-btn-warm" onclick="saveData();"><i class="layui-icon">&#xe605;</i>保存数据</button>
                        </div>
                        <a class="close-reveal-modal">&times;</a>
                    </div>
                    @*<h4 class="container-fluid" style="text-align:center;">上级审阅意见</h4>
                <textarea class="form-control" readonly=readonly></textarea>*@
         
                    <div align="center">
                        <!--<button type="button" onclick="#" class="btn btn-default " style="text-align:center;">提交周报</button>-->
                        <a href="ReportList.html" class="btn btn-default" style="display:none;">提交周报</a>
                        <button type="submit" class="layui-btn layui-btn-warm"><i class="layui-icon">&#x1005;</i>提交周报</button>
                    </div>

            </div>
    
}
     </div>
    @*<div class="col-md-2">
        <div class="contentright">
            <div class="layui-form-item">
                <div class="col">
                    <blockquote class="layui-elem-quote-left title">敬请期待</blockquote>
                    <ul id="mblist"></ul>
                </div>
            </div>
        </div>
        <div class="contentright">
            <div class="layui-form-item">
                <div class="col">
                    <blockquote class="layui-elem-quote-left title">敬请期待</blockquote>
                    <form class="form-inline" style="margin:10px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input id="KLKeyword" class="form-control layui-input" type="text" placeholder="敬请期待">
                        </div>
                    </form>
                </div>
                <div class="layui-form-item">
                    <div class="col">
                        <ul id="kllist"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

           

            <script>
                var editor = new Simditor({
                    textarea: $('#editor'),
                    upload: false,
                    toolbar: [//'title',
                             'bold',
                             'italic',
                             'underline',
                             'strikethrough',
                             'fontScale',
                             'color',
                             'ol',
                             'ul',
                             //'blockquote',
                             //'code'       ,
                             'table',
                             //'link',
                             //'image',
                             'hr',
                             'indent',
                             'outdent',
                             'alignment',
                    ]
                    //optional options
                });

            </script>

     
</body>
</html>
