@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Scripts/select2/css/select2.css" media="all" />
<div class="content">
    <form id="form" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <label class="layui-form-label">处理结果</label>
            <div class="layui-input-block">
                <select lay-ignore name="SoluteResult" id="SoluteResult" lay-verify="required"></select>
                <input type="hidden" name="OrderChkStatus" value="@KALAYUNITSM.ENTITY.OrdersStatusEnums.已解决" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">解决方案</label>
            <div class="layui-input-block">
                <textarea name="Solution" id="Solution" placeholder="请输入内容" class="layui-textarea "></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">恢复时间</label>
            <div class="layui-input-block">
                <input type="text" name="FinishedTime" id="FinishedTime" lay-verify="required" placeholder="YYYY年MM月DD日 hh:mm:ss" readonly autocomplete="off" class="layui-input width200">
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <div class="layui-input-block">
                <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/config.js"></script>
    <script type="text/javascript" src="~/Scripts/select2/js/select2.min.js"></script>
    <script>
        CKEDITOR.replace('Solution', { "width": "1000" });
        var primaryKey = $.getQueryString("primaryKey");
        $("#SoluteResult").bindSelect({
            url: "/System/Paras/GetOrderSolutionResultTreeJson"
        });
        layui.use(['form', 'layer'], function () {
            var form = layui.form;

            form.render();

            form.on('submit(add)', function (data) {
                data.field.OrderId = primaryKey;
                data.field.Solution = CKEDITOR.instances.Solution.getData(); 
                $.formSubmit({
                    url: "/Itsm/OrderChk/SaveSolveOrder",
                    data: data.field
                });
                return false;
            });
        });

        $("#FinishedTime").jeDate({
            isinitVal: true,
            initDate: [{ hh: 10, mm: 00, ss: 00 }, false],
            minDate: '2016-06-16',
            maxDate: '2020-06-16',
            format: "YYYY年MM月DD日 hh:mm:ss",
            zIndex: 3000
        })
    </script>
}