
.strength_meter {
    width: 200px;
    float: left;
}

    .strength_meter div {
        margin: 2px;
        min-width: 80px; 
        max-width: 180px; 
        height: 26px;
        text-align: left;
        color: #000;
        line-height: 26px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding-right: 12px;
        border-radius: 5px;
    }

        .strength_meter div p {
            position: absolute;
            left: 10px;
            color: #fff;
            margin-top: 2px;
            font-size: 12px;
            font-weight: 700;
        }

.veryweak {
    background-color: #39b2a9;
    border-color: #F04040 !important;
    width: 40% !important;
}

.weak {
    background-color: #0943A8;
    border-color: #83A8E9 !important;
    width: 60% !important;
}

.medium {
    background-color: #3AB30D;
    border-color: #9BE082 !important;
    width: 80% !important;
}

.strong {
    background-color: #C91E0A;
    border-color: #DD6254 !important;
    width: 100% !important;
}
