@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <form id="form" class="layui-form">
            <div class="layui-input-inline">
                <input type="text" id="keyword" placeholder="请输入关键字" class="layui-input search_input">
            </div>
            <a class="layui-btn search_btn layui-btn-small" id="btnSearch">查询</a>
        </form>
    </div>
    <div id="toolbar" class="layui-inline">
        <div id="layui-btn-group" class="layui-inline toolsTable"></div>
    </div>
</blockquote>
<div class="layui-form">
    <table id="gridList" lay-filter="gridList"></table>
</div>
@section scripts {
    <script type="text/javascript">
        var table = layui.table;
        initGrid();
        $("#btnSearch").click(initGrid);
        $("#toolbar").authorizeButton(window.location.pathname);

        function initGrid() {
            var _curr = 0;
            var _count = 0;
            var _keyword = $("#keyword").val();

            table.render({
                elem: '#gridList',
                id: 'gridList',
                url: '/Business/Customer/GetJsonData',
                cols: [[
                 { checkbox: true, fixed: true }
                 , { field: 'Name', title: '客户名称', width: 280, sort: true }
                 , { field: 'Contacts', title: '联系人', sort: true }
                 , { field: 'TelPhone', title: '联系方式' }
                 , { field: 'Address', title: '地址' }
                 , { field: 'IsEnable', title: '状态', width: 80, templet: '#IsEnableTpl' }
                ]],
                curr: _curr,
                where: { keyword: _keyword }
            });
        }

        function btn_add() {
            $.buttonAdd({
                title: "创建客户",
                content: "/Business/Customer/Form",
            });
        }
        function btn_edit() {
            $.buttonEdit({
                title: "修改客户",
                content: "/Business/Customer/Form"
            });
        }
        function btn_delete() {
            $.buttonChk({
                url: "/Business/Customer/Delete"
            });
        }
        function btn_export() {
            $.buttonExport({
                url: "/Business/Customer/ExportExcel"
            });
        }
    </script>
}

