<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">品牌</label>
        <div class="layui-input-inline">
            <input type="text" name="Field0" placeholder="请输入品牌" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">型号</label>
        <div class="layui-input-inline">
            <input type="text" name="Field1" placeholder="请输入型号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">用途</label>
        <div class="layui-input-inline">
            <input type="text" name="Field2" placeholder="请输入用途" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">操作系统</label>
        <div class="layui-input-inline">
            <input type="text" name="Field3" placeholder="请输入操作系统" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">IP地址</label>
        <div class="layui-input-inline">
            <input type="text" name="Field4" placeholder="请输入IP地址" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">内存</label>
        <div class="layui-input-inline">
            <input type="text" name="Field5" placeholder="请输入内存" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">购置日期</label>
        <div class="layui-input-inline">
            <input type="text" name="Field6" placeholder="请输入购置日期" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">保修开始</label>
        <div class="layui-input-inline">
            <input type="text" name="Field7" placeholder="请输入保修开始" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">保修结束</label>
        <div class="layui-input-inline">
            <input type="text" name="Field8" placeholder="请输入保修结束" autocomplete="off" class="layui-input">
        </div>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-block" style="width: 800px;">
        <textarea name="Description" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
</div>