@{
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="content">
    <form id="form" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">合同信息</li>
                <li>服务项</li>
                <li>联系人</li>
                <li>文件</li>
            </ul>
            <div class="layui-tab-content" id="formtab">
                <div class="layui-tab-item layui-show">

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">客户</label>
                            <div class="layui-input-inline">
                                <select name="CustomerId" id="CustomerId" lay-verify="required"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">合同名称</label>
                            <div class="layui-input-inline">
                                <input type="hidden" name="Id" />
                                <input type="text" name="Name" lay-verify="required" placeholder="请输入合同名称" autocomplete="off" class="layui-input width300">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="StartDate" id="StartDate" lay-verify="required" placeholder="请选择有效期" autocomplete="off" maxlength="10" class="layui-input width100">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="EndDate" id="EndDate" lay-verify="required" placeholder="请选择有效期" autocomplete="off" maxlength="10" class="layui-input width100">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">合同类型</label>
                            <div class="layui-input-inline">
                                <select name="Type" id="Type" lay-verify="required"></select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">费用</label>
                            <div class="layui-input-inline">
                                <input type="text" name="Expenses" id="Expenses" placeholder="￥" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-inline" style="width: 514px;">
                            <textarea name="Description" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>

                </div>
                <div class="layui-tab-item">内容2</div>
                <div class="layui-tab-item">内容3</div>
                <div class="layui-tab-item">内容4</div>
            </div>
        </div>

        <div class="layui-form-item" style="display: none">
            <div class="layui-input-block">
                <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script>
        var form = layui.form, layedit = layui.layedit;
        var layer = layui.layer;


        $("#CustomerId").bindSelect({
            url: "/Business/Customer/GetListTreeSelect"
        });

        $("#Type").bindSelect({
            url: "/Manage/ItemsDetail/GetItemByCode?itemCode=contract"
        });

        $("#StartDate").jdate();
        $("#EndDate").jdate();


        var primaryKey = $.getQueryString("primaryKey");
        if (primaryKey) {
            $.ajax({
                url: "/Business/Contract/GetForm",
                data: { primaryKey: primaryKey },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                }
            });
        }

        form.render();

        form.on('submit(add)', function (data) {
            $.formSubmit({
                url: "/Business/Contract/SaveForm",
                data: data.field
            });
            return false;
        });

    </script>
}
