USE [OperationsITSM_Data]
GO
/****** Object:  Table [dbo].[Commerce_Contract]    Script Date: 2018/8/23 16:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Commerce_Contract](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[CustomerId] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Expenses] [decimal](18, 0) NULL,
	[StartDate] [varchar](50) NULL,
	[EndDate] [varchar](50) NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Commerce_Contract] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Commerce_Customer]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Commerce_Customer](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[TelPhone] [varchar](150) NULL,
	[Contacts] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Commerce_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_CI]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_CI](
	[Id] [varchar](50) NOT NULL,
	[Label] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[CustomerId] [varchar](50) NULL,
	[CIGroupId] [varchar](50) NULL,
	[LocaltionId] [varchar](50) NULL,
	[ContactsId] [varchar](50) NULL,
	[Field0] [varchar](250) NULL,
	[Field1] [varchar](250) NULL,
	[Field2] [varchar](250) NULL,
	[Field3] [varchar](250) NULL,
	[Field4] [varchar](250) NULL,
	[Field5] [varchar](250) NULL,
	[Field6] [varchar](250) NULL,
	[Field7] [varchar](250) NULL,
	[Field8] [varchar](250) NULL,
	[Field9] [varchar](250) NULL,
	[Field10] [varchar](250) NULL,
	[Field11] [varchar](250) NULL,
	[Field12] [varchar](250) NULL,
	[Field13] [varchar](250) NULL,
	[Field14] [varchar](250) NULL,
	[Field15] [varchar](250) NULL,
	[Field16] [varchar](250) NULL,
	[Field17] [varchar](250) NULL,
	[Field18] [varchar](250) NULL,
	[Field19] [varchar](250) NULL,
	[Field20] [varchar](250) NULL,
	[Field21] [varchar](250) NULL,
	[Field22] [varchar](250) NULL,
	[Field23] [varchar](250) NULL,
	[Field24] [varchar](250) NULL,
	[Field25] [varchar](250) NULL,
	[Field26] [varchar](250) NULL,
	[Field27] [varchar](250) NULL,
	[Field28] [varchar](250) NULL,
	[Field29] [varchar](250) NULL,
	[Field30] [varchar](250) NULL,
	[Field31] [varchar](250) NULL,
	[Field32] [varchar](250) NULL,
	[Field33] [varchar](250) NULL,
	[Field34] [varchar](250) NULL,
	[Field35] [varchar](250) NULL,
	[Field36] [varchar](250) NULL,
	[Field37] [varchar](250) NULL,
	[Field38] [varchar](250) NULL,
	[Field39] [varchar](250) NULL,
	[Status] [varchar](50) NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_CI_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_CIGroup]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_CIGroup](
	[Id] [varchar](50) NOT NULL,
	[EnCode] [varchar](50) NULL,
	[ParentId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Url] [varchar](150) NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_CI] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_CIRelations]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_CIRelations](
	[Id] [varchar](50) NOT NULL,
	[CIPId] [varchar](50) NULL,
	[CINId] [varchar](50) NULL,
	[RelationId] [varchar](50) NULL,
	[IsReverse] [bit] NULL,
	[Description] [varchar](500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateTime] [date] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_CIRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Contacts]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Contacts](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[CustomerId] [varchar](50) NULL,
	[TelPhone] [varchar](150) NULL,
	[Email] [varchar](250) NULL,
	[MobilePhone] [varchar](150) NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Device]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Device](
	[ID] [varchar](50) NOT NULL,
	[Label] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[TypeID] [int] NULL,
	[AffiliationDepartmentID] [int] NULL,
	[UsingDepartmentID] [int] NULL,
	[EmployeeID] [int] NULL,
	[SLAID] [int] NULL,
	[Firms] [varchar](150) NULL,
	[Models] [varchar](150) NULL,
	[AssetNumber] [varchar](150) NULL,
	[SerialNumber] [varchar](150) NULL,
	[Criticality] [int] NULL,
	[SupplierID] [int] NULL,
	[Warranty] [varchar](250) NULL,
	[BindingInfo] [varchar](2500) NULL,
	[Status] [int] NULL,
	[Description] [varchar](250) NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Device] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Device_Type]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Device_Type](
	[ID] [int] IDENTITY(100100,1) NOT NULL,
	[FID] [int] NULL,
	[Name] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_Conf_Device_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Employee]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Employee](
	[ID] [int] IDENTITY(100100,1) NOT NULL,
	[RealName] [varchar](50) NULL,
	[EmployeeNo] [varchar](50) NULL,
	[DepartmentID] [int] NULL,
	[SLAID] [int] NULL,
	[Sex] [int] NULL,
	[Post] [varchar](250) NULL,
	[OfficeLocation] [varchar](250) NULL,
	[Telephone] [varchar](250) NULL,
	[Mobile] [varchar](250) NULL,
	[Email] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[State] [int] NULL,
 CONSTRAINT [PK_Conf_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Localtion]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Localtion](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[CustomerId] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Localtion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Relations]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Relations](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[ForwardText] [varchar](250) NULL,
	[ReverseText] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateTime] [date] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Relations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Resource]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Resource](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Label] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[TypeID] [int] NULL,
	[AffiliationDepartmentID] [int] NULL,
	[UsingDepartmentID] [int] NULL,
	[SLAID] [int] NULL,
	[Criticality] [int] NULL,
	[SupplierID] [int] NULL,
	[Warranty] [varchar](250) NULL,
	[BindingInfo] [varchar](2500) NULL,
	[Status] [int] NULL,
	[Description] [varchar](250) NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Resource] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Resource_Type]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Resource_Type](
	[ID] [int] IDENTITY(300090,1) NOT NULL,
	[FID] [int] NULL,
	[Name] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Resource_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_ServiceCatalog]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_ServiceCatalog](
	[Id] [varchar](50) NOT NULL,
	[ParentId] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Delivery] [varchar](450) NULL,
	[Frequency] [varchar](500) NULL,
	[Level] [varchar](500) NULL,
	[Time] [varchar](500) NULL,
	[IsPublic] [bit] NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Serv_ServiceCatalog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_SLA]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_SLA](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](2500) NULL,
	[ContractId] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_SYS_SLA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_SLASLTs]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_SLASLTs](
	[Id] [varchar](50) NOT NULL,
	[SLAId] [varchar](50) NULL,
	[SLTsId] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_SLASLTs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_SLTs]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_SLTs](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[UrgencyLevel] [int] NULL,
	[EffectLevel] [int] NULL,
	[ResponseDuration] [int] NULL,
	[FinishDuration] [int] NULL,
	[IsPublic] [bit] NULL,
	[IsDefault] [bit] NULL,
	[Description] [varchar](2500) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Serv_SLT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Software]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Software](
	[ID] [int] IDENTITY(100100,1) NOT NULL,
	[Label] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[TypeID] [int] NULL,
	[AffiliationDepartmentID] [int] NULL,
	[UsingDepartmentID] [int] NULL,
	[EmployeeID] [int] NULL,
	[SLAID] [int] NULL,
	[Version] [varchar](150) NULL,
	[UseTo] [varchar](150) NULL,
	[InstallPath] [varchar](250) NULL,
	[Criticality] [int] NULL,
	[SupplierID] [int] NULL,
	[Warranty] [varchar](250) NULL,
	[BindingInfo] [varchar](2500) NULL,
	[Status] [int] NULL,
	[Description] [varchar](250) NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Software] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Software_Type]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Software_Type](
	[ID] [int] IDENTITY(100100,1) NOT NULL,
	[FID] [int] NULL,
	[Name] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Software_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Conf_Supplier]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Conf_Supplier](
	[Id] [varchar](50) NOT NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Telephone] [varchar](250) NULL,
	[Contact] [varchar](2500) NULL,
	[Remark] [varchar](2500) NULL,
	[IsEnable] [bit] NULL,
	[SortCode] [int] NULL,
	[CreateTime] [datetime] NULL,
	[CreateUser] [varchar](50) NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Conf_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itsm_FAQs]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itsm_FAQs](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](150) NULL,
	[EnCode] [varchar](50) NULL,
	[CategoryId] [varchar](50) NULL,
	[KeyWords] [varchar](250) NULL,
	[ServiceCatalogId] [varchar](2000) NULL,
	[Author] [varchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Hits] [int] NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Itsm_FAQs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itsm_FAQsCategory]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itsm_FAQsCategory](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateTime] [date] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Itsm_FAQs_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itsm_OrderChk]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itsm_OrderChk](
	[Id] [varchar](50) NOT NULL,
	[OrderId] [varchar](20) NULL,
	[OrderChkStatus] [int] NULL,
	[CurrUser] [varchar](50) NULL,
	[NextUser] [varchar](50) NULL,
	[Description] [varchar](2500) NULL,
	[Solution] [varchar](2500) NULL,
	[Reason] [varchar](2500) NULL,
	[SoluteResult] [int] NULL,
	[FinishedTime] [datetime] NULL,
	[IsEnable] [bit] NULL,
	[SortCode] [int] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Itsm_OrderChk] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itsm_Orders]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itsm_Orders](
	[Id] [varchar](50) NOT NULL,
	[OrderId] [varchar](20) NULL,
	[Name] [varchar](250) NULL,
	[OrderForm] [int] NULL,
	[CustomerId] [varchar](50) NULL,
	[ContractId] [varchar](50) NULL,
	[ContactsId] [varchar](50) NULL,
	[CIId] [varchar](50) NULL,
	[EffectId] [int] NULL,
	[UrgencyId] [int] NULL,
	[PriorityId] [varchar](50) NULL,
	[Description] [varchar](5000) NULL,
	[AttachmentFile] [varchar](500) NULL,
	[RegisterTime] [datetime] NULL,
	[ResponseTime] [datetime] NULL,
	[FinishTime] [datetime] NULL,
	[ActualResponseTime] [datetime] NULL,
	[ActualFinishTime] [datetime] NULL,
	[StatusCode] [int] NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CurrUser] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Itsm_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Itsm_OrderTemplete]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Itsm_OrderTemplete](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](250) NULL,
	[EffectId] [int] NULL,
	[UrgencyId] [int] NULL,
	[Description] [varchar](5000) NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Itsm_OrderTemplete] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReportsData]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReportsData](
	[Id] [varchar](50) NOT NULL,
	[LId] [varchar](50) NULL,
	[ProjectName] [varchar](50) NULL,
	[ContentNumber] [varchar](50) NULL,
	[Content] [nvarchar](max) NULL,
	[ContentType] [int] NULL,
	[LiablePerson] [varchar](50) NULL,
	[StartTime] [date] NULL,
	[EndTime] [date] NULL,
	[CompleteStatus] [nvarchar](max) NULL,
	[WorkType] [varchar](50) NULL,
	[Remark] [nvarchar](max) NULL,
	[Problem] [nvarchar](max) NULL,
	[Result] [nvarchar](max) NULL,
	[Solution] [nvarchar](max) NULL,
	[CreateTime] [datetime] NULL,
	[SortCode] [int] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_ReportsData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Item]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Item](
	[Id] [varchar](50) NOT NULL,
	[EnCode] [varchar](50) NULL,
	[ParentId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Layer] [int] NULL,
	[SortCode] [int] NULL,
	[IsTree] [bit] NULL,
	[IsEnable] [bit] NULL,
	[Description] [varchar](500) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ItemsDetail]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ItemsDetail](
	[Id] [varchar](50) NOT NULL,
	[ItemId] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[IsDefault] [bit] NULL,
	[SortCode] [int] NULL,
	[IsEnable] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_ItemsDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Log]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Log](
	[Id] [varchar](50) NOT NULL,
	[CreateTime] [datetime] NULL,
	[LogLevel] [varchar](50) NULL,
	[Operation] [varchar](50) NULL,
	[Message] [varchar](500) NULL,
	[Account] [varchar](50) NULL,
	[RealName] [varchar](50) NULL,
	[IP] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[Browser] [varchar](50) NULL,
	[StackTrace] [varchar](2500) NULL,
	[Exception] [varchar](2500) NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Organization]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Organization](
	[Id] [varchar](50) NOT NULL,
	[ParentId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[Type] [varchar](50) NULL,
	[TelPhone] [varchar](150) NULL,
	[Contacts] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Permission]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Permission](
	[Id] [varchar](50) NOT NULL,
	[ParentId] [varchar](50) NULL,
	[Layer] [int] NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[JsEvent] [varchar](50) NULL,
	[Icon] [varchar](50) NULL,
	[Url] [varchar](300) NULL,
	[Description] [varchar](500) NULL,
	[Type] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[IsPublic] [bit] NULL,
	[IsEnable] [bit] NULL,
	[IsEdit] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
	[ButtonStatus] [int] NULL,
 CONSTRAINT [PK_Sys_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Position]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Position](
	[Id] [varchar](50) NOT NULL,
	[ParentId] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[IsEnable] [bit] NULL,
	[Description] [varchar](500) NULL,
	[SortCode] [int] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[Id] [varchar](50) NOT NULL,
	[EnCode] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[AllowEdit] [bit] NULL,
	[IsEnable] [bit] NULL,
	[Description] [varchar](500) NULL,
	[SortCode] [int] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_RoleAuthorize]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_RoleAuthorize](
	[Id] [varchar](50) NOT NULL,
	[RoleId] [varchar](50) NULL,
	[ModuleId] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
	[SortCode] [int] NULL,
 CONSTRAINT [PK_Sys_RoleAuthorize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_User]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_User](
	[Id] [varchar](50) NOT NULL,
	[Account] [varchar](50) NULL,
	[RealName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Avatar] [varchar](200) NULL,
	[Gender] [bit] NULL,
	[TelPhone] [varchar](50) NULL,
	[MobilePhone] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[Position] [varchar](50) NULL,
	[EmployeeID] [varchar](50) NULL,
	[ExpirationDate] [date] NULL,
	[CompanyId] [varchar](50) NULL,
	[OrganizationId] [varchar](50) NULL,
	[IsEnable] [bit] NULL,
	[IsOnLine] [bit] NULL,
	[IsLock] [bit] NULL,
	[AllowMultiUserOnline] [bit] NULL,
	[AllowIPAddress] [varchar](50) NULL,
	[LoginCount] [int] NULL,
	[LastLoginTime] [datetime] NULL,
	[PrevLoginTime] [datetime] NULL,
	[LastLoginIP] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[Theme] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_Sys_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_UserPositionRelation]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_UserPositionRelation](
	[Id] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[PositionId] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
	[SortCode] [int] NULL,
 CONSTRAINT [PK_Sys_UserPositionRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_UserRoleRelation]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_UserRoleRelation](
	[Id] [varchar](50) NOT NULL,
	[UserId] [varchar](50) NULL,
	[RoleId] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ChkState] [int] NULL,
	[SortCode] [int] NULL,
 CONSTRAINT [PK_Sys_UserRoleRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WeeklyReports]    Script Date: 2018/8/23 16:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WeeklyReports](
	[Id] [varchar](50) NOT NULL,
	[ProjectName] [varchar](50) NULL,
	[ReportWeekDateBegin] [date] NULL,
	[ReportWeekDateEnd] [date] NULL,
	[WeekCount] [varchar](50) NULL,
	[ReportType] [int] NULL,
	[LeaderName] [varchar](50) NULL,
	[LeaderOpinion] [varchar](max) NULL,
	[Author] [varchar](50) NULL,
	[AuthorId] [varchar](50) NULL,
	[EmergencyLevel] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[SortCode] [int] NULL,
	[ChkState] [int] NULL,
 CONSTRAINT [PK_WeeklyReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Commerce_Contract] ([Id], [Name], [CustomerId], [Type], [Expenses], [StartDate], [EndDate], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'47C6B670-9E63-4813-906F-66267D01793F', N'一期3年机房维护合同', N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'yunwei', CAST(2200000 AS Decimal(18, 0)), N'2017-11-10', N'2018-10-31', NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Commerce_Customer] ([Id], [Name], [EnCode], [TelPhone], [Contacts], [Address], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'天津市教委教育信息化管理中心', NULL, N'022-80200801', N'吴旭', N'天津市南开区迎水道', N'天津市教育委员会教育信息化管理中心成立于2001年12月，与天津市广播电视中等专业学校、天津电视中学为一套机构三块牌子。', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Conf_CIGroup] ([Id], [EnCode], [ParentId], [Name], [Url], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'0982A72B-E105-4C80-A19A-3BF0A9949032', N'_Net', N'41113386-78D8-48E9-B30C-5484AB1F7B5C', N'交换机', N'/CI/Server', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_CIGroup] ([Id], [EnCode], [ParentId], [Name], [Url], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'14ADAE84-4562-4EF3-A1B1-4CDC93268063', N'_Device', N'6B3A9B68-809D-47B5-B47E-6D60C8C67602', N'电源', N'/CI/Server', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_CIGroup] ([Id], [EnCode], [ParentId], [Name], [Url], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'1B159624-6D93-4714-BC99-D491C940C15C', N'_Virtual', N'49A51461-0C0B-4E24-9B6E-AFFD043F4125', N'群集', N'/CI/Server', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_CIRelations] ([Id], [CIPId], [CINId], [RelationId], [IsReverse], [Description], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'30F688FC-6E65-456C-A9E6-A3E3271E0F51', N'010ABDFF-E613-4051-8456-3491E50A2EBF', N'1F88BE12-1168-44DA-AAEE-41016FCA71A5', N'1D25932C-1C7F-4004-A0B7-3CAF179C8F60', 0, NULL, 10000, NULL, CAST(0xC63D0B00 AS Date), 1)
INSERT [dbo].[Conf_CIRelations] ([Id], [CIPId], [CINId], [RelationId], [IsReverse], [Description], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'FCA64F86-C505-401A-B9B2-A689A699476D', N'3E9CBB22-BC19-4D32-97E5-15AC7484BA93', N'BD88D96D-04C5-4439-A292-07BBB1B9FB5D', N'23B43B36-E3E8-41A9-95A8-FD9E65A09397', 0, NULL, 10000, NULL, CAST(0xC73D0B00 AS Date), 1)
INSERT [dbo].[Conf_Contacts] ([Id], [Name], [CustomerId], [TelPhone], [Email], [MobilePhone], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'1A3171CA-E742-4FA8-879A-9DDE3259B6F7', N'陈怡', N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'022-80190111', NULL, NULL, NULL, 10000, NULL, NULL, NULL, 1)
INSERT [dbo].[Conf_Contacts] ([Id], [Name], [CustomerId], [TelPhone], [Email], [MobilePhone], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'3895A34C-0E1B-4531-AEC4-83B5837490C7', N'李明', N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'022-80190111', N'liming@tj.com', N'15809019101', NULL, 10000, NULL, NULL, NULL, 1)
INSERT [dbo].[Conf_Contacts] ([Id], [Name], [CustomerId], [TelPhone], [Email], [MobilePhone], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'DDD55CF3-2BB5-4935-9A9C-0D6C849B0D47', N'何群', N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'022-80190111', NULL, NULL, NULL, 10000, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Conf_Device_Type] ON 

INSERT [dbo].[Conf_Device_Type] ([ID], [FID], [Name], [SortCode], [State]) VALUES (100090, NULL, N'服务器', NULL, NULL)
INSERT [dbo].[Conf_Device_Type] ([ID], [FID], [Name], [SortCode], [State]) VALUES (100091, NULL, N'复印机', NULL, NULL)
INSERT [dbo].[Conf_Device_Type] ([ID], [FID], [Name], [SortCode], [State]) VALUES (100092, NULL, N'打印机', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Conf_Device_Type] OFF
INSERT [dbo].[Conf_Localtion] ([Id], [Name], [CustomerId], [Address], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'01CC78F8-74F7-483C-B9BB-1137A8D81DAA', N'中心数据机房', N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'河西区12号', NULL, NULL, NULL, NULL, CAST(0x0000A82B01180326 AS DateTime), 1)
INSERT [dbo].[Conf_Localtion] ([Id], [Name], [CustomerId], [Address], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'814BE8F9-8B3D-4BCF-9FFB-DE04A1C09ACF', N'天津工大机房', N'0315B33C-3E0E-478D-86C3-6279D9E98E50', N'天津市西青区宾水西道399号', NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Conf_Relations] ([Id], [Name], [ForwardText], [ReverseText], [Description], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'1D25932C-1C7F-4004-A0B7-3CAF179C8F60', N'配置关系', N'必须使用#进行', N'被#使用', N'通用', NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_Relations] ([Id], [Name], [ForwardText], [ReverseText], [Description], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'23B43B36-E3E8-41A9-95A8-FD9E65A09397', N'安装与运行关系', N'安装着#', N'运行在#上', N'适用于下面情况：1、服务器、台式机、笔记本、虚拟机跟业务系统、操作系统、数据库之间的关系', NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_Relations] ([Id], [Name], [ForwardText], [ReverseText], [Description], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'510DE6A1-3979-47AF-A248-24F664A7E70D', N'连接关系', N'连接着#', N'连接着#', N'适用于下面情况：1、服务器、笔记本、台式机跟路由器、交换机之间的关系。2、整机跟外设之间的关系', NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_ServiceCatalog] ([Id], [ParentId], [EnCode], [Name], [Type], [Delivery], [Frequency], [Level], [Time], [IsPublic], [Description], [SortCode], [IsEnable], [CreateTime], [CreateUser], [ChkState]) VALUES (N'024B4D63-F48D-48FD-A8DD-B5DE70DA8B5E', N'4ED27F5B-C303-42B7-A491-01F729B92025', N'9001', N'统一监控和告警服务', N'renyi', N'《监控服务台月度报告》《重点监控报告》', N'每天 每周 每月 每季 按需', N'支持5x8/7x8/7x24电话咨询 按需', N'5x8 7x8 7x24', NULL, N'实现对信息化系统现场各种环境指标、设备指标、业务指标和安全指标的采集和统一呈现，为高校提供365*7*24小时实时监控、实时告警、实时生成工单等服务。', 9001, NULL, NULL, NULL, 0)
INSERT [dbo].[Conf_ServiceCatalog] ([Id], [ParentId], [EnCode], [Name], [Type], [Delivery], [Frequency], [Level], [Time], [IsPublic], [Description], [SortCode], [IsEnable], [CreateTime], [CreateUser], [ChkState]) VALUES (N'0D773C34-AD5B-4862-AB56-2D5B152F478D', N'889FC889-0378-431E-9D8B-7BCB35A0BB10', N'6001-004', N'安全应急响应服务', N'xianchang', N'《巡检报告》《故障处理报告》《实施方案和报告》《技术服务单》', N'每天 每周 每月 每季 按需', N'支持5x8/7x8/7x24电话咨询 按需', N'5x8 7x8 7x24', NULL, N'安全应急响应服务', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Conf_ServiceCatalog] ([Id], [ParentId], [EnCode], [Name], [Type], [Delivery], [Frequency], [Level], [Time], [IsPublic], [Description], [SortCode], [IsEnable], [CreateTime], [CreateUser], [ChkState]) VALUES (N'13B7A61E-010F-474A-9F7E-7D5132846046', N'428C7B0E-0CEB-431F-91A9-94A5D85EE903', N'7001-003', N'业务系统数据库运行维护服务', N'renyi', N'《巡检报告》《优化实施报告》《技术服务单》', N'每天 每周 每月 每季 按需', N'支持5x8/7x8/7x24电话咨询 按需', N'5x8 7x8 7x24', NULL, N'业务系统数据库运行维护服务', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Conf_SLA] ([Id], [Name], [Description], [ContractId], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'2CEAA08F-D4F9-4AA8-9269-0150B222FA94', N'SLA标准协议', NULL, N'47C6B670-9E63-4813-906F-66267D01793F', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Conf_SLASLTs] ([Id], [SLAId], [SLTsId], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'7D2FD115-D8F2-45B8-B572-7642C9ACA745', N'2CEAA08F-D4F9-4AA8-9269-0150B222FA94', N'C7846302-08D5-44B8-91E9-AA74AAADB2A9', NULL, NULL, N'admin', CAST(0x0000A84800F4E4D4 AS DateTime), 0)
INSERT [dbo].[Conf_SLASLTs] ([Id], [SLAId], [SLTsId], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'80EBA52D-489C-43D9-8968-030AFA07F910', N'2CEAA08F-D4F9-4AA8-9269-0150B222FA94', N'55C873A2-FD56-43E5-AF4A-ACFA440BDB3B', NULL, NULL, N'admin', CAST(0x0000A84800F4E4D0 AS DateTime), 0)
INSERT [dbo].[Conf_SLTs] ([Id], [Name], [UrgencyLevel], [EffectLevel], [ResponseDuration], [FinishDuration], [IsPublic], [IsDefault], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'12CD1C32-CD2B-4D65-92E2-4666B422E075', N'紧急10分钟响应', 0, 0, 10, 60, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A82A00EFAB62 AS DateTime), 1)
INSERT [dbo].[Conf_SLTs] ([Id], [Name], [UrgencyLevel], [EffectLevel], [ResponseDuration], [FinishDuration], [IsPublic], [IsDefault], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'43EBA3AB-254B-4AD8-A274-036831740793', N'紧急30分钟响应', 0, 1, 30, 480, NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A82B00E8A63B AS DateTime), 1)
INSERT [dbo].[Conf_SLTs] ([Id], [Name], [UrgencyLevel], [EffectLevel], [ResponseDuration], [FinishDuration], [IsPublic], [IsDefault], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'46042260-92BB-41EF-A1CE-2A023E5BF823', N'默认60分钟响应', 2, 1, 60, 480, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Conf_Software_Type] ON 

INSERT [dbo].[Conf_Software_Type] ([ID], [FID], [Name], [SortCode], [ChkState]) VALUES (200090, NULL, N'操作系统', NULL, NULL)
INSERT [dbo].[Conf_Software_Type] ([ID], [FID], [Name], [SortCode], [ChkState]) VALUES (200091, NULL, N'数据库', NULL, NULL)
INSERT [dbo].[Conf_Software_Type] ([ID], [FID], [Name], [SortCode], [ChkState]) VALUES (200092, NULL, N'中间件', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Conf_Software_Type] OFF
INSERT [dbo].[Itsm_FAQs] ([Id], [Name], [EnCode], [CategoryId], [KeyWords], [ServiceCatalogId], [Author], [Description], [Hits], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'00A320B7-B33C-471E-BF1B-C5138E0ED9DB', N'您的IP地址被改变，强制下线', N'100400000008', N'客户端', NULL, NULL, N'admin', N'请检查线路连通性或电脑是否中病毒', 24, NULL, NULL, CAST(0x0000A4F100E4BFC4 AS DateTime), NULL)
INSERT [dbo].[Itsm_FAQs] ([Id], [Name], [EnCode], [CategoryId], [KeyWords], [ServiceCatalogId], [Author], [Description], [Hits], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'017E4523-C8B7-4F44-9E63-8351EB65BB9E', N'客户端提示“找不到合适的网卡”故障信息？', N'100600000001', N'网络连接', NULL, NULL, N'admin', N'<p>
	客户端提示&ldquo;找不到合适的网卡&rdquo;故障信息？<br />
	故障原因：系统没有正确获得网卡信息，或者网卡有问题。<br />
	故障解决办法如下：退出并重新打开客户端，如果问题依旧存在，请将网卡驱动程序卸载重装，如果还是不能解决问题，更换一张网卡。Vista系统客户端兼容性修改为以WindowsXP/2000运行，管理权限修改为以管理员身份运行。</p>
', 20, NULL, NULL, CAST(0x0000A4F00116D8C4 AS DateTime), NULL)
INSERT [dbo].[Itsm_FAQs] ([Id], [Name], [EnCode], [CategoryId], [KeyWords], [ServiceCatalogId], [Author], [Description], [Hits], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'01F0BE6C-4CE5-41D8-B0C9-9A256D122144', N'启用多块物理网卡，被迫下线', N'100300000003', N'125431B8-D7E8-4A58-AF81-2137B5C8D0D2', N'无线', N'024B4D63-F48D-48FD-A8DD-B5DE70DA8B5E,DEF2B1B8-1FBA-4D9A-9DF2-EE7401D88839', N'admin', N'<p>请禁用无线网络连接，重启计算机</p>
', 6, NULL, NULL, NULL, 0)
INSERT [dbo].[Itsm_FAQsCategory] ([Id], [Name], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'125431B8-D7E8-4A58-AF81-2137B5C8D0D2', N'故障排除', NULL, NULL, NULL, NULL)
INSERT [dbo].[Itsm_FAQsCategory] ([Id], [Name], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'19E76D63-F4E4-4307-AD22-915E2BCAFEBF', N'技术文档', NULL, NULL, NULL, NULL)
INSERT [dbo].[Itsm_FAQsCategory] ([Id], [Name], [SortCode], [IsEnable], [CreateTime], [ChkState]) VALUES (N'20890E9A-BEE6-4E3B-A51E-2B699BE0818C', N'服务器', NULL, NULL, NULL, NULL)
INSERT [dbo].[Itsm_OrderChk] ([Id], [OrderId], [OrderChkStatus], [CurrUser], [NextUser], [Description], [Solution], [Reason], [SoluteResult], [FinishedTime], [IsEnable], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'01911B8F-5F59-44F0-A09B-7F0D746B4E83', N'IM20180418164444757', 1, N'cernet', NULL, NULL, NULL, NULL, 0, CAST(0x0000A8C601141568 AS DateTime), NULL, 10000, N'cernet', CAST(0x0000A8C601141568 AS DateTime), 1)
INSERT [dbo].[Itsm_OrderChk] ([Id], [OrderId], [OrderChkStatus], [CurrUser], [NextUser], [Description], [Solution], [Reason], [SoluteResult], [FinishedTime], [IsEnable], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'1F3CCD98-A3E7-407F-AACB-120BC97B9C45', N'IM20180810155739233', 1, N'cernet', NULL, NULL, NULL, NULL, 0, CAST(0x0000A93801078E88 AS DateTime), NULL, 10000, N'cernet', CAST(0x0000A93801078E88 AS DateTime), 1)
INSERT [dbo].[Itsm_OrderChk] ([Id], [OrderId], [OrderChkStatus], [CurrUser], [NextUser], [Description], [Solution], [Reason], [SoluteResult], [FinishedTime], [IsEnable], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'25AF0382-196C-471D-98C1-F9C387BE1E28', N'IM20180102134152176', 128, N'admin', NULL, NULL, NULL, NULL, 0, NULL, NULL, 10000, N'admin', CAST(0x0000A86C00A097DF AS DateTime), 1)
INSERT [dbo].[Itsm_OrderTemplete] ([Id], [Name], [EffectId], [UrgencyId], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'54803FD4-96DA-403D-BF6E-0DDB5A16507C', N'开通账号申请', 2, 2, N'原因：
权限：
开通时间：', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Itsm_OrderTemplete] ([Id], [Name], [EffectId], [UrgencyId], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'5FE964E8-AE7A-4AF7-8D31-267461ABC9C3', N'账号权限变更申请', 2, 3, N'测试：', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Itsm_OrderTemplete] ([Id], [Name], [EffectId], [UrgencyId], [Description], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'A330F5D9-AF54-4D3F-ABC0-FD532D3A5A45', N'购买新服务器需求', 1, 2, N'现状：
问题：
基本配置：', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[ReportsData] ([Id], [LId], [ProjectName], [ContentNumber], [Content], [ContentType], [LiablePerson], [StartTime], [EndTime], [CompleteStatus], [WorkType], [Remark], [Problem], [Result], [Solution], [CreateTime], [SortCode], [ChkState]) VALUES (N'04671ffe-808f-42f9-b0a6-439fd842d795', N'65323077-7351-40a5-a908-b474932b202d', N'技术支持', N'3', N'
<h6 >作者：测试
内容：</h6>', 1, NULL, CAST(0x733E0B00 AS Date), CAST(0x773E0B00 AS Date), NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A91F010E1889 AS DateTime), NULL, 0)
GO
INSERT [dbo].[Sys_Item] ([Id], [EnCode], [ParentId], [Name], [Layer], [SortCode], [IsTree], [IsEnable], [Description], [CreateUser], [CreateTime], [ChkState]) VALUES (N'8238C495-8376-4004-9A34-56D0DCBD11EA', N'all_items', N'1000', N'数据字典', 0, 0, NULL, 1, NULL, NULL, NULL, 1)
INSERT [dbo].[Sys_Item] ([Id], [EnCode], [ParentId], [Name], [Layer], [SortCode], [IsTree], [IsEnable], [Description], [CreateUser], [CreateTime], [ChkState]) VALUES (N'8A196798-1E6D-4322-8625-DE33FABC41AD', N'servicecatalogtype', N'8238C495-8376-4004-9A34-56D0DCBD11EA', N'服务目录服务方式', 1, 3, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Sys_Item] ([Id], [EnCode], [ParentId], [Name], [Layer], [SortCode], [IsTree], [IsEnable], [Description], [CreateUser], [CreateTime], [ChkState]) VALUES (N'9800A7D7-4DD0-4E94-A325-53120BEB19A6', N'permission', N'8238C495-8376-4004-9A34-56D0DCBD11EA', N'权限类型', 1, 5, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Sys_ItemsDetail] ([Id], [ItemId], [EnCode], [Name], [IsDefault], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'14F0C64A-F3D8-439D-BC0A-D9A5A41A2D46', N'D2F966BA-D541-4AC9-8837-B5303D5C3502', N'org-team', N'小组', 0, 4, 1, NULL, NULL, 1)
INSERT [dbo].[Sys_ItemsDetail] ([Id], [ItemId], [EnCode], [Name], [IsDefault], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'1FCA10B0-51F7-421B-97E3-A0BF8E8158A5', N'BDF43DFF-52DC-4D9D-9857-91465E6A0379', N'high', N'服务', 0, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Sys_ItemsDetail] ([Id], [ItemId], [EnCode], [Name], [IsDefault], [SortCode], [IsEnable], [CreateUser], [CreateTime], [ChkState]) VALUES (N'285F5171-55AC-4502-A959-07F84014AEB5', N'CB44F285-AD01-467E-BE08-97B2E2012847', N'jichu', N'基础合同', NULL, 111, 1, NULL, NULL, 1)
INSERT [dbo].[Sys_Log] ([Id], [CreateTime], [LogLevel], [Operation], [Message], [Account], [RealName], [IP], [IPAddress], [SortCode], [Browser], [StackTrace], [Exception], [ChkState]) VALUES (N'000F47D6-6747-4283-A9B0-83AEF5ADA55C', CAST(0x0000A82500A1D9B8 AS DateTime), N'INFO', N'系统登录', N'登录成功', N'admin', N'', N'127.0.0.1', N'内网IP  内网IP', NULL, N'Firefox 56.0', N'<no type>.lambda_method => HomeController.CheckLogin => LogHelper.Write', NULL, NULL)
INSERT [dbo].[Sys_Log] ([Id], [CreateTime], [LogLevel], [Operation], [Message], [Account], [RealName], [IP], [IPAddress], [SortCode], [Browser], [StackTrace], [Exception], [ChkState]) VALUES (N'00D8ACAC-9CE9-4D62-9FD5-6C487857E0F8', CAST(0x0000A87B00962583 AS DateTime), N'INFO', N'系统登录', N'登录成功', N'admin', N'', N'211.68.121.77', N'', NULL, N'Chrome 55.0', N'<no type>.lambda_method => HomeController.CheckLogin => LogHelper.Write', N'', NULL)
INSERT [dbo].[Sys_Log] ([Id], [CreateTime], [LogLevel], [Operation], [Message], [Account], [RealName], [IP], [IPAddress], [SortCode], [Browser], [StackTrace], [Exception], [ChkState]) VALUES (N'010D2B6F-43FF-4031-862A-5A4E8A4D6CD5', CAST(0x0000A8C0012BC945 AS DateTime), N'INFO', N'系统登录', N'登录成功', N'master', N'', N'219.224.97.103', N'', NULL, N'Chrome 55.0', N'<no type>.lambda_method => HomeController.CheckLogin => LogHelper.Write', N'', NULL)
GO
INSERT [dbo].[Sys_Organization] ([Id], [ParentId], [Name], [EnCode], [SortCode], [Type], [TelPhone], [Contacts], [Address], [CreateTime], [ChkState]) VALUES (N'1B2AF760-B2AA-43C9-852F-F8860738FD35', N'79074296-B194-45C7-BF8B-CB1567B3E04F', N'天津分公司', N'tianjin', 1000, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Organization] ([Id], [ParentId], [Name], [EnCode], [SortCode], [Type], [TelPhone], [Contacts], [Address], [CreateTime], [ChkState]) VALUES (N'2526CF38-A29D-40C4-A130-921FE047A126', N'1B2AF760-B2AA-43C9-852F-F8860738FD35', N'教委项目组1', N'tianjinjiaowei', 1100, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Sys_Organization] ([Id], [ParentId], [Name], [EnCode], [SortCode], [Type], [TelPhone], [Contacts], [Address], [CreateTime], [ChkState]) VALUES (N'5734222F-DFA3-4D1A-B6CB-447F396CF918', N'79074296-B194-45C7-BF8B-CB1567B3E04F', N'集成业务部', N'jicheng', 444, NULL, N'010-62603882', NULL, N'北京中关村东路1号院清华科技园8号楼9层', NULL, 1)
INSERT [dbo].[Sys_Permission] ([Id], [ParentId], [Layer], [EnCode], [Name], [JsEvent], [Icon], [Url], [Description], [Type], [SortCode], [IsPublic], [IsEnable], [IsEdit], [CreateUser], [CreateTime], [ChkState], [ButtonStatus]) VALUES (N'026550FD-2578-42AE-A041-625CDA12325F', N'855F3590-B233-4224-AAFF-47FB95C8353D', 2, N'roleadd', N'创建角色', N'btn_add()', N'
fa fa-plus-square-o', N'/System/Role/Form', NULL, N'button', 10301, 0, 1, 1, N'admin', CAST(0x0000A7440110024F AS DateTime), 1, NULL)
INSERT [dbo].[Sys_Permission] ([Id], [ParentId], [Layer], [EnCode], [Name], [JsEvent], [Icon], [Url], [Description], [Type], [SortCode], [IsPublic], [IsEnable], [IsEdit], [CreateUser], [CreateTime], [ChkState], [ButtonStatus]) VALUES (N'0467248C-756B-4F9E-ABDA-A8EBFDBCAEEC', N'1000', 0, N'service', N'服务管理', NULL, N'fa fa-check-square-o', NULL, NULL, N'menu', 22000, 0, 1, 1, NULL, NULL, 1, NULL)
INSERT [dbo].[Sys_Permission] ([Id], [ParentId], [Layer], [EnCode], [Name], [JsEvent], [Icon], [Url], [Description], [Type], [SortCode], [IsPublic], [IsEnable], [IsEdit], [CreateUser], [CreateTime], [ChkState], [ButtonStatus]) VALUES (N'047A418D-BC7F-4BF6-BCDB-2214091B7764', N'1000', 0, N'statisticalanalysis', N'统计分析', NULL, N'fa fa-bar-chart', NULL, NULL, N'menu', 14000, 0, 1, 1, NULL, NULL, 1, NULL)
GO
INSERT [dbo].[Sys_Position] ([Id], [ParentId], [EnCode], [Name], [Type], [IsEnable], [Description], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'32936591-2DF2-434A-8825-B8B9CBF6AA92', N'F4A75A1E-6477-42A7-BAB3-DE9EDAC5EACB', N'P02', N'项目经理', N'pos-lead', 1, NULL, 2, N'cernet', CAST(0x0000A8FD00F7B874 AS DateTime), 0)
INSERT [dbo].[Sys_Position] ([Id], [ParentId], [EnCode], [Name], [Type], [IsEnable], [Description], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'3EBC19A1-0B33-4DB1-ABE0-43282884D8EA', N'A515725D-2A54-4B08-B675-FA266B06E6AE', N'p05', N'运维人员', N'pos-staff', 1, NULL, 6, N'cernet', CAST(0x0000A8FD00F81BE9 AS DateTime), 0)
INSERT [dbo].[Sys_Position] ([Id], [ParentId], [EnCode], [Name], [Type], [IsEnable], [Description], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'79074296-B194-45C7-BF8B-CB1567B3E04F', N'1000', N'cernet', N'赛尔网络', N'1', 1, N' ', 1, N'cernet', CAST(0x00009CF100000000 AS DateTime), 1)
INSERT [dbo].[Sys_Role] ([Id], [EnCode], [Type], [Name], [AllowEdit], [IsEnable], [Description], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'287C73A0-4A42-401B-8D39-F494856ABFEF', N'eventmanager', N'role-business', N'事件经理', NULL, 1, NULL, 10000, NULL, NULL, 1)
INSERT [dbo].[Sys_Role] ([Id], [EnCode], [Type], [Name], [AllowEdit], [IsEnable], [Description], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'2E872862-B35B-4CB8-93BF-ECA7B6DE2FB8', N'assetallocationadministrators', N'role-business', N'资产配置管理员', NULL, 1, NULL, 10000, NULL, NULL, 1)
INSERT [dbo].[Sys_Role] ([Id], [EnCode], [Type], [Name], [AllowEdit], [IsEnable], [Description], [SortCode], [CreateUser], [CreateTime], [ChkState]) VALUES (N'34C8228F-00A8-49FF-AEA0-27F6E3DC9FC0', N'noticemanager', N'role-business', N'公告管理员', 0, 1, NULL, 10000, NULL, NULL, 0)
INSERT [dbo].[Sys_RoleAuthorize] ([Id], [RoleId], [ModuleId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'0000DA41-9EAD-427B-8EA6-8D02A5B414B3', N'C1D88BD1-0CBD-4B03-BD9C-E3B0D86A9E37', N'10A708FC-9E0D-45C6-9247-CEF0C5F506EC', N'test', CAST(0x0000A86500CAD375 AS DateTime), 0, NULL)
INSERT [dbo].[Sys_RoleAuthorize] ([Id], [RoleId], [ModuleId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'00728898-DF31-4406-A893-E45E2EEFF706', N'78516ECC-E0AD-4F7A-A107-6A4A4EBE64A7', N'6542E73B-DA20-492A-B90E-008823AAA119', N'cernet', CAST(0x0000A90E00EF7F68 AS DateTime), 0, NULL)
INSERT [dbo].[Sys_RoleAuthorize] ([Id], [RoleId], [ModuleId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'007A3548-DFA7-4D24-B89E-97F220AAA26D', N'A3A3857C-51FB-43A6-A7B5-3A612E887B3A', N'1E8E79F2-C9A0-4C0F-9870-2DFDCBA63D59', N'admin', CAST(0x0000A85F00FBDD73 AS DateTime), 0, NULL)
GO
INSERT [dbo].[Sys_UserPositionRelation] ([Id], [UserId], [PositionId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'152FDC5B-42A4-452D-B020-1D501C1BAB9E', N'3559932A-D141-4E16-9609-C793C3F79980', N'3EBC19A1-0B33-4DB1-ABE0-43282884D8EA', N'cernet', CAST(0x0000A915010875EE AS DateTime), 0, NULL)
INSERT [dbo].[Sys_UserPositionRelation] ([Id], [UserId], [PositionId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'23B6BF82-F8BE-482A-9F58-7839016E5BDC', N'AFFFE753-4DD4-46B9-978E-1FB8F0669004', N'3EBC19A1-0B33-4DB1-ABE0-43282884D8EA', N'cernet', CAST(0x0000A9150104DA1D AS DateTime), 0, NULL)
INSERT [dbo].[Sys_UserPositionRelation] ([Id], [UserId], [PositionId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'6EACB0BE-96CB-42D9-8D14-F92D6DA644F0', N'897C3C01-ACAF-4169-AD2F-B3E101AAE3EA', N'3EBC19A1-0B33-4DB1-ABE0-43282884D8EA', N'cernet', CAST(0x0000A9150103EE7E AS DateTime), 0, NULL)
INSERT [dbo].[Sys_UserRoleRelation] ([Id], [UserId], [RoleId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'0AFA37BB-1809-4BBB-9551-FE06B22D933D', N'5CBFDB44-184E-4916-8D46-EE5C70EC67EC', N'DB60DC76-9632-44B3-AE4B-7177428BAD35', N'cernet', CAST(0x0000A8E700FD5982 AS DateTime), 0, NULL)
INSERT [dbo].[Sys_UserRoleRelation] ([Id], [UserId], [RoleId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'106C7482-4666-482F-9EB9-5F3713A9837D', N'B9F55D85-AFED-457F-9191-A8A44FF99379', N'78516ECC-E0AD-4F7A-A107-6A4A4EBE64A7', N'cernet', CAST(0x0000A8E701090BFA AS DateTime), 0, NULL)
INSERT [dbo].[Sys_UserRoleRelation] ([Id], [UserId], [RoleId], [CreateUser], [CreateTime], [ChkState], [SortCode]) VALUES (N'2BA25E4E-E5D1-4EC3-9693-787F20DAFE02', N'3512BA6D-A964-4FE0-A956-97AF1B1BB35C', N'97223B06-6B7A-47FB-B74C-173F52C519C4', N'cernet', CAST(0x0000A9150104B802 AS DateTime), 0, NULL)
INSERT [dbo].[WeeklyReports] ([Id], [ProjectName], [ReportWeekDateBegin], [ReportWeekDateEnd], [WeekCount], [ReportType], [LeaderName], [LeaderOpinion], [Author], [AuthorId], [EmergencyLevel], [CreateTime], [SortCode], [ChkState]) VALUES (N'1494defb-859e-4e87-bf38-1c63780a0165', N'天津市政府办公厅维护服务项目', CAST(0x573E0B00 AS Date), CAST(0x5B3E0B00 AS Date), N'24', 2, N'刘珺', N'', N'测试', N'5CBFDB44-184E-4916-8D46-EE5C70EC67EC', NULL, CAST(0x0000A8FD00E7B936 AS DateTime), NULL, 0)
INSERT [dbo].[WeeklyReports] ([Id], [ProjectName], [ReportWeekDateBegin], [ReportWeekDateEnd], [WeekCount], [ReportType], [LeaderName], [LeaderOpinion], [Author], [AuthorId], [EmergencyLevel], [CreateTime], [SortCode], [ChkState]) VALUES (N'21e4ae4d-c529-4f8c-b2bd-c3838d03228a', N'天津市政府办公厅维护服务项目', CAST(0x883E0B00 AS Date), CAST(0x8C3E0B00 AS Date), N'31', 1, NULL, NULL, N'测试', N'5CBFDB44-184E-4916-8D46-EE5C70EC67EC', NULL, CAST(0x0000A93700E97ACB AS DateTime), NULL, 0)
INSERT [dbo].[WeeklyReports] ([Id], [ProjectName], [ReportWeekDateBegin], [ReportWeekDateEnd], [WeekCount], [ReportType], [LeaderName], [LeaderOpinion], [Author], [AuthorId], [EmergencyLevel], [CreateTime], [SortCode], [ChkState]) VALUES (N'252e497a-0f80-4bc4-a25e-f359816dfb9c', N'天津市政府办公厅维护服务项目', CAST(0x573E0B00 AS Date), CAST(0x5B3E0B00 AS Date), N'24', 1, N'刘珺', NULL, N'测试', N'5CBFDB44-184E-4916-8D46-EE5C70EC67EC', NULL, CAST(0x0000A8FD00C35420 AS DateTime), NULL, 0)
ALTER TABLE [dbo].[Commerce_Contract] ADD  CONSTRAINT [DF_Commerce_Contract_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Commerce_Customer] ADD  CONSTRAINT [DF_Commerce_Customer_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_CI] ADD  CONSTRAINT [DF_Conf_CI_ID_1]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_CIGroup] ADD  CONSTRAINT [DF_Conf_CI_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_CIRelations] ADD  CONSTRAINT [DF_Conf_CIRelations_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_Contacts] ADD  CONSTRAINT [DF_Conf_Contacts_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_Localtion] ADD  CONSTRAINT [DF_Conf_Localtion_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_Relations] ADD  CONSTRAINT [DF_Conf_Relations_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_ServiceCatalog] ADD  CONSTRAINT [DF_Configure_ServiceCatalog_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_SLA] ADD  CONSTRAINT [DF_Serv_SLA_ID]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_SLASLTs] ADD  CONSTRAINT [DF_Conf_SLASLTs_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_SLTs] ADD  CONSTRAINT [DF_Serv_SLT_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Conf_Supplier] ADD  CONSTRAINT [DF_Conf_Supplier_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Itsm_FAQs] ADD  CONSTRAINT [DF_Itsm_FAQs_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Itsm_FAQs] ADD  CONSTRAINT [DF_Itsm_FAQs_Hits]  DEFAULT ((0)) FOR [Hits]
GO
ALTER TABLE [dbo].[Itsm_FAQsCategory] ADD  CONSTRAINT [DF_Itsm_FAQs_Category_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Itsm_OrderChk] ADD  CONSTRAINT [DF_Itsm_OrderChk_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Itsm_Orders] ADD  CONSTRAINT [DF_Itsm_Orders_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Itsm_Orders] ADD  CONSTRAINT [DF_Itsm_Orders_State]  DEFAULT ((0)) FOR [StatusCode]
GO
ALTER TABLE [dbo].[Itsm_OrderTemplete] ADD  CONSTRAINT [DF_Itsm_OrderTemplete_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_Item] ADD  CONSTRAINT [DF_Sys_Item_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_ItemsDetail] ADD  CONSTRAINT [DF_Sys_ItemsDetail_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_Organization] ADD  CONSTRAINT [DF_Sys_Organization_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_Permission] ADD  CONSTRAINT [DF_Sys_Permission_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_Permission] ADD  CONSTRAINT [DF_Sys_Permission_IsPublic]  DEFAULT ((0)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Sys_Permission] ADD  CONSTRAINT [DF_Sys_Permission_IsEnable]  DEFAULT ((1)) FOR [IsEnable]
GO
ALTER TABLE [dbo].[Sys_Permission] ADD  CONSTRAINT [DF_Sys_Permission_IsEdit]  DEFAULT ((1)) FOR [IsEdit]
GO
ALTER TABLE [dbo].[Sys_Position] ADD  CONSTRAINT [DF_Sys_Position_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_Role] ADD  CONSTRAINT [DF_Sys_Role_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_Role] ADD  CONSTRAINT [DF_Sys_Role_SortCode]  DEFAULT ((10000)) FOR [SortCode]
GO
ALTER TABLE [dbo].[Sys_RoleAuthorize] ADD  CONSTRAINT [DF_Sys_RoleAuthorize_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_User] ADD  CONSTRAINT [DF_Sys_User_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_UserPositionRelation] ADD  CONSTRAINT [DF_Sys_UserPositionRelation_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Sys_UserRoleRelation] ADD  CONSTRAINT [DF_Sys_UserRoleRelation_Id]  DEFAULT (newid()) FOR [Id]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'层次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Layer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否树形菜单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'IsTree'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'IsEnable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'ItemId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'选项名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否默认' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'IsDefault'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'IsEnable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发生时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'LogLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作模块' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Operation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志消息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Message'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作账户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'RealName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作人IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'IP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作人IP归属地' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'IPAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'堆栈信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'StackTrace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'层次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Layer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'事件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'JsEvent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Icon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块类型：1-菜单 2-按钮' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否公开' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'IsPublic'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'IsEnable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许编辑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'IsEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类：1-角色2-岗位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可编辑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'AllowEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'IsEnable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'RoleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'ModuleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'账户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'RealName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'MobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'领导ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'CompanyId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'OrganizationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'IsEnable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
