@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Scripts/select2/css/select2.css" media="all" />
<link rel="stylesheet" href="~/Scripts/ComboSelect/css/comboselect.css" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Scripts/uploadify/uploadify.css" />
<div class="col-md-8">
    <div class="content" style="background-color: #fafffb;">
        <form id="form" class="layui-form">
            @Html.AntiForgeryToken()
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="RegisterTime" lay-verify="required" autocomplete="off" class="layui-input" value="@System.DateTime.Now" disabled="">
                        <input type="hidden" name="OrderId" value="@KALAYUNITSM.COMMON.Tools.CreateNo("IM")" />
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">合同</label>
                    <div class="layui-input-inline">
                        <select lay-ignore name="ContractId" id="ContractId" lay-verify="required" class="select2"></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">来源</label>
                    <div class="layui-input-inline">
                        <select lay-ignore name="OrderForm" id="OrderForm" lay-verify="required"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-inline">
                        <select lay-ignore name="ContactsId" id="ContactsId" lay-verify="required" class="select2"></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">配置项</label>
                    <div class="layui-input-inline">
                        <input lay-ignore type="text" name="CIId" id="CIId" placeholder="请输入配置项" autocomplete="off" class="layui-input width600">
                    </div>
                    <div id="positionDiv" style="display: block;margin:30px 0px 0px 80px">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">简要描述</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Name" lay-verify="required" placeholder="请输入简要描述" autocomplete="off" class="layui-input width600">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label label-required">紧急度</label>
                    <div class="layui-input-inline">
                        <select lay-ignore name="UrgencyId" id="UrgencyId" lay-verify="required" class="select2"></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label label-required">影响范围</label>
                    <div class="layui-input-inline">
                        <select lay-ignore name="EffectId" id="EffectId" lay-verify="required" class="select2"></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">详细描述</label>
                <div class="layui-input-block" style="width: 90%;">
                    <textarea name="Description" id="Description" placeholder="请输入内容" class="layui-textarea "></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">相关附件</label>
                <div class="layui-input-inline">
                    <input type="file" class="form-control" name="openfile" id="openfile" />
                    <img style="display: none" id="openfile_img" src="" width="300">
                    <input type="hidden" id="AttachmentFile" name="AttachmentFile" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-md-4">
    <div class="contentright">
        <div class="layui-form-item">
            <div class="col">
                <blockquote class="layui-elem-quote-left title">常用模版</blockquote>
                <ul id="mblist"></ul>
            </div>
        </div>
    </div>
    <div class="contentright">
        <div class="layui-form-item">
            <div class="col">
                <blockquote class="layui-elem-quote-left title">知识检索</blockquote>
                <form class="form-inline" style="margin:10px">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input id="KLKeyword" class="form-control layui-input" type="text" placeholder="知识库关键字">
                    </div>
                </form>
            </div>
            <div class="layui-form-item">
                <div class="col">
                    <ul id="kllist"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Scripts/ckeditor/config.js"></script>
    <script type="text/javascript" src="~/Scripts/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ComboSelect/js/comboselect.min.js"></script>
    <script type="text/javascript" src="~/Scripts/ComboSelect/js/b.comboselect.js"></script>
    <script type="text/javascript" src="~/Scripts/uploadify/jquery.uploadify.min.js"></script>
    <script>
        var form = layui.form;
        form.render();

        var primaryKey = $.getQueryString("primaryKey");
        if (primaryKey) {
            $.ajax({
                url: "/Itsm/Orders/GetForm",
                data: { primaryKey: primaryKey },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                }
            });
        }
        $("#OrderForm").bindSelect({
            url: "/System/Paras/GetOrderFromTreeJson"
        });
        $("#ContractId").bindSelect({
            url: "/Business/Contract/GetListTreeSelect"
        });
        $("#ContactsId").bindSelect({
            url: "/Configure/Contacts/GetListTreeSelect"
        });
        $("#UrgencyId").bindSelect({
            url: "/System/Paras/GetUrgencyLevelTreeJson"
        });
        $("#EffectId").bindSelect({
            url: "/System/Paras/GetEffectLevelTreeJson"
        });
        $.ajax({
            type: "post",
            url: "/Configure/CI/GetListCombo",
            success: function (data) {
                $('#CIId').bComboSelect({
                    showField: 'name',
                    keyField: 'id',
                    formatItem: function (data) {
                        return data.desc + '(' + data.name + ')';
                    },
                    data: eval('(' + data + ')')
                });
            }
        });
        $.ajax({
            url: "/Itsm/OrderTemplete/GetJsonDataTop",
            type: 'GET',
            dataType: 'json',
            timeout: 1000,
            cache: false,
            success: function (data) {
                $("#mblist").html("");
                var json = eval(data);
                if (json.length < 1) {
                    $("#mblist").html("没有模版");
                } else {
                    $.each(json, function (index, item) {
                        //var name = json[index].Name;
                        $("#mblist").append("<li><a href='#' onclick='OrderTemplete(\"" + item.Id + "\")'>" + item.Name + "</a></li>");
                    });
                }
            }
        });
        $("#KLKeyword").keyup(function () {
            $.ajax({
                url: "/Itsm/FAQs/GetJsonDataForKeyWord?keyWord=" + $("#KLKeyword").val(),
                type: 'GET',
                dataType: 'json',
                timeout: 1000,
                cache: false,
                success: function (data) {
                    $("#kllist").html("");
                    var json = eval(data);
                    if (json.length < 1) {
                        $("#kllist").html("没有匹配的知识");
                    } else {
                        $.each(json, function (index, item) {
                            //var name = json[index].Name;
                            $("#kllist").append("<li><a href='#' onclick='btn_kldetail(\"" + item.Id + "\")'>" + item.Name + "</a></li>");
                        });
                    }
                }
            })
        });

        $("#openfile").uploadify({
            //指定swf文件
            'swf': '../../Scripts/uploadify/uploadify.swf',
            //后台处理的页面
            'uploader': '../../UploadHandler.ashx',
            //按钮显示的文字
            'buttonText': '选择相关附件',
            //显示的高度和宽度，默认 height 30；width 120
            //'height': 15,
            //'width': 80,
            //上传文件的类型  默认为所有文件    'All Files'  ;  '*.*'
            //在浏览窗口底部的文件类型下拉菜单中显示的文本
            'fileTypeDesc': 'Image Files',
            //允许上传的文件后缀
            'fileTypeExts': '*.gif; *.pdf; *.jpg; *.png;',
            //发送给后台的其他参数通过formData指定
            //'formData': { 'someKey': 'someValue', 'someOtherKey': 1 },
            //选择文件后自动上传
            'auto': true,
            //设置为true将允许多文件上传
            'multi': false,
            //上传成功后执行
            'onUploadSuccess': function (file, data, response) {
                $('#' + file.id).find('.data').html(' 上传完毕');
                $('#AttachmentFile').attr('value', data);
                $('#openfile_img').attr('style', 'display:block').attr('src', '\\OrderFiles\\' + data);
            }
        });
        function btn_kldetail(id) {
            $.buttonAdd({
                title: "查看知识",
                content: "/Itsm/FAQs/Detail?id=" + id
            });
        }

        function OrderTemplete(id) {
            if (id) {
                $.ajax({
                    url: "/Itsm/OrderTemplete/GetForm",
                    data: { primaryKey: id },
                    type: "post",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $("#form").formSerialize(data);
                    }
                });
            }
        }
        form.on('submit(add)', function (data) {
            $.formSubmit({
                url: "/Itsm/Orders/SaveForm",
                data: data.field,
                success: function () {
                    window.location.href = "/Itsm/Orders/Detail/" + data.field.OrderId;
                }
            });
            return false;
        });
    </script>
}
