@{
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="content">
    <form id="form" class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="Id" />
                    <input type="text" name="Name" lay-verify="required" placeholder="请输入客户名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">客户</label>
                <div class="layui-input-inline">
                    <select name="CustomerId" id="CustomerId" lay-verify="required"></select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">电子邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="Email" placeholder="请输入电子邮箱" lay-verify="email" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系方式</label>
                <div class="layui-input-inline">
                    <input type="text" name="TelPhone" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">移动电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="MobilePhone" placeholder="请输入移动电话" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="display: none">
            <div class="layui-input-block">
                <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
            </div>
        </div>
    </form>
</div>
@section scripts {
    <script>
        var form = layui.form, layedit = layui.layedit;
        var layer = layui.layer;


        $("#CustomerId").bindSelect({
            url: "/Business/Customer/GetListTreeSelect"
        });

        var primaryKey = $.getQueryString("primaryKey");
        if (primaryKey) {
            $.ajax({
                url: "/Configure/Contacts/GetForm",
                data: { primaryKey: primaryKey },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                }
            });
        }

        form.render();

        form.on('submit(add)', function (data) {
            $.formSubmit({
                url: "/Configure/Contacts/SaveForm",
                data: data.field
            });
            return false;
        });

    </script>
}
