@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<blockquote class="layui-elem-quote news_search">
    <div id="toolbar" class="layui-inline">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="keyword" placeholder="请输入关键字" class="layui-input search_input">
            </div>
            <a class="layui-btn search_btn layui-btn-small" id="btnSearch">查询</a>
        </div>
        <div id="layui-btn-group" class="layui-inline toolsTable"></div>
    </div>
</blockquote>
<div class="layui-form">
    <table class="layui-table" id="gridList" lay-filter="gridList"></table>
</div>
@section scripts {
    <script type="text/javascript">
        var table = layui.table;
        initGrid();
        $("#btnSearch").click(initGrid);
        $("#toolbar").authorizeButton(window.location.pathname);

        function initGrid() {
            var _curr = 0;
            var _count = 0;
            var _keyword = $("#keyword").val();

            table.render({
                elem: '#gridList'
                , id: 'gridList'
                , url: '/Configure/Contacts/GetJsonData'
                    , cols: [[
                     { checkbox: true, fixed: false }
                     , { field: 'Name', title: '联系人', width: 120, sort: true }
                     , { field: 'CustomerName', title: '所属' }
                     , { field: 'Email', title: '电子邮箱' }
                     , { field: 'TelPhone', title: '联系方式' }
                     , { field: 'MobilePhone', title: '移动电话' }
                     , { field: 'IsEnable', title: '状态', width: 80, templet: '#IsEnableTpl' }
                    ]],
                curr: _curr,
                where: { keyword: _keyword },
                done: function (res, curr, count) {
                    _curr = curr;
                    _count = count;
                },
                request: {
                    pageName: 'curr'
            , limitName: 'nums'
                }
            });
        }

        function btn_add() {
            $.buttonAdd({
                title: "创建联系人",
                content: "/Configure/Contacts/Form"
            });
        }
        function btn_edit() {
            $.buttonEdit({
                title: "修改联系人",
                content: "/Configure/Contacts/Form"
            });
        }
        function btn_delete() {
            $.buttonChk({
                url: "/Configure/Contacts/Delete"
            });
        }
    </script>
}

