@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<blockquote class="layui-elem-quote news_search">
    <div id="toolbar" class="layui-inline">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="keyword" placeholder="请输入关键字" class="layui-input search_input">
            </div>
            <a class="layui-btn search_btn layui-btn-small" id="btnSearch">查询</a>
        </div>
        <div id="layui-btn-group" class="layui-inline toolsTable"></div>
    </div>
</blockquote>
<div class="layui-form">
    <table class="layui-table" id="gridList" lay-filter="gridList"></table>
</div>
@section scripts {
    <script type="text/javascript">
        var table = layui.table;
        initGrid();
        $("#btnSearch").click(initGrid);
        $("#toolbar").authorizeButton(window.location.pathname);

        function initGrid() {
            var _curr = 0;
            var _count = 0;
            var _keyword = $("#keyword").val();

            table.render({
                elem: '#gridList'
                , id: 'gridList'
                , url: '/System/Log/GetJsonData'
                    , cols: [[
                     { checkbox: true, fixed: false }
                     , { field: 'LogLevel', title: '类型', width: 100, sort: true, templet: '#LogLevelTpl' }
                     , { field: 'Operation', title: '操作', width: 100, sort: true }
                     , { field: 'Account', title: '用户' }
                     , { field: 'Message', title: '消息' }
                     , { field: 'Browser', title: 'Browser' }
                     , { field: 'CreateTime', title: '时间', sort: true }
                     , { field: 'IPAddress', title: 'IP' }
                    ]],
                curr: _curr,
                where: { keyword: _keyword },
                done: function (res, curr, count) {
                    _curr = curr;
                    _count = count;
                },
                request: {
                    pageName: 'curr'
                , limitName: 'nums'
                }
            });
        }

        function btn_delete() {
            $.buttonChk({
                title: "删除日志",
                url: "/System/Log/Delete"
            });
        }

        function btn_export() {
            $.buttonExport({
                url: "/System/Log/ExportExcel"
            });
        }
    </script>
}

